.language-switcher__button {

    font: inherit;

    /* Icon */
    &::before {
        content: "";
        mask-image: url("../../../Icons/icon/languages.svg");
    }
}

.language-switcher__dropdown {

    width: 100%;

    padding: 0.75rem;
}

.language-switcher__list {
    width: 100%;
}

.language-switcher__option {
    display: flex;

    column-gap: 0.25rem;
    align-items: center;

    width: 100%;

    padding: 0.25rem;
    margin: 0;

    font: inherit;

    background: transparent;
    border: none;

    &:hover,
    &[data-current] {
        color: Highlight;
        background-color: HighlightText;
    }
}
