@import url("ubuntu.css");

/* Font size */

:root {
    --font-family-sans: "Ubuntu Sans", sans-serif;
    --font-family-monospace: "Ubuntu Sans Mono", monospace;
    --font-family-cursive: "Imperial Script", cursive;
    --font-family-serif: "Nimbus Roman", serif;

    --font-family-chewy: "Chewy", sans-serif;

    --font-line-content: 1.75;
    --font-line-normal: 1.25;
    --font-line-ui: 1;

    --font-size: max(1em, 1vw);
    --font-size-largest: 2.5rem;
    --font-size-larger: 2rem;
    --font-size-large: 1.5rem;
    --font-size-normal: 1rem;
    --font-size-small: 0.8rem;

    --font-weight-normal: 400;
    --font-weight-bold: 600;
}
