/* JetBrain Mono */
@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 100 800;
    src: url("fonts/webfonts/JetBrainsMono-Regular.woff2") format("woff2"),
         url("fonts/ttf/JetBrainsMono-Regular.ttf") format("truetype");
}
