/* Ubuntu Sans */
@font-face {
    font-family: "Ubuntu Sans";
    src:
        local("Ubuntu Sans"),
        url("fonts/static/UbuntuSans-Regular.woff2") format("woff2"),
        url("fonts/static/UbuntuSans-Regular.woff") format("woff");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu Sans";
    src:
        url("fonts/static/UbuntuSans-ExtraBold.woff2") format("woff2"),
        url("fonts/static/UbuntuSans-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu Sans";
    src:
        url("fonts/static/UbuntuSans-Italic.woff2") format("woff2"),
        url("fonts/static/UbuntuSans-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu Sans";
    src:
        url("fonts/static/UbuntuSans-ExtraBoldItalic.woff2") format("woff2"),
        url("fonts/static/UbuntuSans-ExtraBoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/* Ubuntu Sans Mono */
@font-face {
    font-family: "Ubuntu Sans Mono";
    src:
        local("Ubuntu Sans Mono"),
        url("fonts/static/UbuntuSansMono-Regular.woff2") format("woff2"),
        url("fonts/static/UbuntuSansMono-Regular.woff") format("woff");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu Sans Mono";
    src:
        url("fonts/static/UbuntuSansMono-Bold.woff2") format("woff2"),
        url("fonts/static/UbuntuSansMono-Bold.woff") format("woff");
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu Sans Mono";
    src:
        url("fonts/static/UbuntuSansMono-Italic.woff2") format("woff2"),
        url("fonts/static/UbuntuSansMono-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu Sans Mono";
    src:
        url("fonts/static/UbuntuSansMono-BoldItalic.woff2") format("woff2"),
        url("fonts/static/UbuntuSansMono-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
