<div class="openstreetmap">
    <iframe
        id="OpenStreetMap"
        title="{settings.page.footer.openstreetmap.title}"
        width="{settings.page.footer.openstreetmap.width}"
        height="{settings.page.footer.openstreetmap.height}"
        src="https://www.openstreetmap.org/export/embed.html?bbox=7.369127869606019%2C46.55292129624824%2C7.372668385505676%2C46.554544443415516&amp;layer=mapnik&amp;marker=46.55373287590018%2C7.370898127555847"
    ></iframe><br />
    <small>
        <a
            href="https://www.openstreetmap.org/?mlat=46.553733&amp;mlon=7.370898#map=19/46.553733/7.370898"
            target="_blank"
        >
            {f:translate(key:'openstreetmap.enlarge',extensionName:'rlt3sitepackage')}
        </a>
    </small>
</div>
