@charset "UTF-8";
/*
### styling responsive
###  - with css grid and flexbox
###  - using @media queries
*/
:root,
[data-rl-theme=light] {
    color-scheme: light;
    /* colors */
    --rl-white: #ffffff;
    --rl-white-almost: #FAEBD7;
    --rl-white-almost2: #EED9C4;
    --rl-black: #000000;
    --rl-blue: #0048ba;
    --rl-blue-dark: #00004B;
    --rl-blue-light: #0e76bc;
    --rl-blue-lighter: #34a2da;
    --rl-brown: #964b00;
    --rl-brown-dark: #7B3F00;
    --rl-brown-light: #a86a24;
    --rl-brown-lighter: #df8549;
    --rl-brown-camel: #C19A6B;
    --rl-chocolate: #d2691e;
    --rl-coffee: #6f4e37;
    --rl-coffee-black: #4B3621;
    --rl-coffee-creme: #A67B5B;
    --rl-green: #588b29;
    --rl-green-dark: #006400;
    --rl-green-light: #00ff7f;
    --rl-green-lighter: #90ee90;
    --rl-green-fale: #9aada0;
    --rl-orange: #ff8000;
    --rl-red: #ff0000;
    --rl-red-dark: #a52a2a;
    --rl-yellow: #feb040;
    --rl-yellow-fale: #edd886;
    /* font styles */
    --rl-font-sans-1: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "Noto Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --rl-font-sans-2: "Nimbus Sans", "Liberation Sans", "DejaVu Sans", Helvetica, Arial, sans-serif;
    --rl-font-serif:  "Liberation Serif", "Nimbus Roman No 9 L",  "FreeSerif", "Hoefler Text", Times, "Times New Roman", serif;
    --rl-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --rl-font-size: max(1em, 1vw);
    --rl-line-height: 1.5;
    --rl-bg-color: var(--rl-white-almost);
    --rl-text-color: var(--rl-blue-dark);
    /* link color and decoration */
    --rl-link-decoration: none;
    --rl-link-focus: none;
    --rl-link: var(--rl-brown-dark);
    --rl-link-active: #edd886;
    --rl-link-hover: var(--rl-coffee-creme);
    --rl-link-visited: var(--rl-coffee-black);
    --hg-head-bg: #F1F3F4;
    --hg-main-bg: #ffede0;
    --hg-nav-bg: #fffbf0;
    --hg-aside-bg: #ebf5d7;
    --hg-foot-bg: #e4ebf2;
    /* viewport break points (bp - responsive */
    --bp-small: 24em;
    --bp-small-2: 30em;
    --bp-small-3: 39.99em;
    --bp-medium: 40em;
    --bp-medium-2: 49.99em;
    --bp-large: 50em;
    --bp-large-2: 59.99em;
    --bp-xxl: 60em;
}

[data-rl-theme=dark] {
    color-scheme: dark;
    --rl-link: #9aada0;
    --rl-link-active: #aebdb3;
    --rl-link-hover: var(--rl-coffee-creme);
    --rl-link-visited:var(--rl-green-fale);
    --rl-bg-color: var(--rl-blue-dark);
    --rl-text-color: var(--rl-white-almost);
}

[data-rl-theme=coffee] {
    color-scheme: coffee;
    --rl-link: #deb887;
    --rl-link-active: #f0ffff;
    --rl-link-hover: #D2691E;
    --rl-link-visited: var(--rl-coffee);
    --rl-bg-color: rgb(var(--rl-brown-dark));
    --rl-text-color: var(--rl-white-almost2);
}

html {
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}
body {
    background: var(--rl-bg-color);
    margin: 0 auto;
    font: var(--rl-font-size)/var(--rl-line-height) var(--rl-font-sans-2);
    color: var(--rl-text-color);
    display: grid;
}

h1 {
    letter-spacing: 0.125em;
    font-size: clamp(1.4em, 2.5vw, 2.8em);
}

p {
    line-height: 1.5;
    font-size: max(1.2em, 1.2vw);
}
ul {
    list-style: none;
}

img,
picture,
video {
    max-width: 100%;
    height: auto;
}

/* link decoration */
a {
    outline-color: transparent;
}

a:link {
    text-decoration: underline;
    color: var(--rl-link);
}

a:visited {
    color: var(--rl-link-visited);
}

a:focus {
    text-decoration: var(--rl-link-decoration);
    color: var(--rl-white-almost2);
    background: var(--rl-link-hover);
}

a:active {
    background: var(--rl-blue);
    color:  var(--rl-link-active);
}
.sticky-header,
.navbar-main,
.navbar-header,
main,
aside,
footer {
    border-radius: 0 0.5em 0.5em;
    border: thin solid;
    padding: 1em;
}

.sticky-header {
    background: var(--hg-head-bg);
    border-color: #d5d5d5;
    margin: 0;
    padding: 0;
}

header.header-wrapper {
    background: wheat;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .brand {
        grid-column: 1/-1;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .logo img {
        width: 1.75em;
        aspect-ratio: 1/1;
        vertical-align: middle;
    }
    .site-name {
        letter-spacing: 0.05em;
        color: maroon;
        font-family: "Edwardian Script ITC", "Brush Script MT", "Lucida Handwriting", cursive;
        text-shadow: 0.1em 0.1em 0.1em var(--rl-green-lighter);
    }
    .lang-menu {
        grid-column: 1/-1;
        margin:0;
        padding:0.15em 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .lang-menu li {
        padding: 0 0.5em;
    }
    .search {
        grid-column: 1/-1;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
.navbar-main,
.navbar-header {
    background: var(--hg-nav-bg);
    border-color: #e7c157;
}
.navbar-main {
    /*grid-column: 1 / -1;*/
}
main {
    background: var(--hg-main-bg);
    border-color: #df6c20;
}
aside {
    background: var(--hg-aside-bg);
    border-color: #8db243;
    /*grid-column: 1 / -1;*/
}
aside.sidebar-left {
}
aside.sidebar-right {
}
footer {
    background: var(--hg-foot-bg);
    border-color: #8a9da8;
}

/* media queries xxl */
@media (min-width: 70rem) {
    body {
        width: min(90rem, calc(80% + 5rem));
        background: cornflowerblue;
        grid-template-columns:
            minmax(min-content, max-content)
            auto
            minmax(min-content, max-content);
    }
    ul.nav-list li::before {
        content: "→ ";
    }

    a:link {
        text-decoration: var(--rl-link-decoration);
    }

    a:hover {
        text-decoration:  var(--rl-link-decoration);
        color: var(--rl-white-almost2);
        background: var(--rl-link-hover);
        border-radius: 0.25em;
        padding: 0 0.25em;
    }
}

/***** media queries large *****/
@media (min-width: 50rem) and (max-width: 69.99rem) {
    body {
        width: min(90em, calc(80% + 5em));
        background: olive;
    }
}

/* media queries small */
@media (min-width: 27.75rem) and (max-width: 34.99rem) {
    body {
        width: 99%;
        background: aquamarine;
    }
}

/* media queries medium */
@media (min-width: 35rem) and (max-width: 49.99rem) {
    body {
        width: 98%;
        background: tomato;
    }
}
