/* some settings while developing */
.aside-left {
    background: var(--color-background-secondary);
}
main {
    background: var(--color-background-primary);
}
.aside-right {
    background: var(--color-background-secondary);
}
/* end of developing settings */
