/* Globals */
:root {
    --breadcrumbs-bar-height: 2rem;
    --top-banner-height: 3.375rem;
    --navigation-height: 5rem;
    --sticky-header-height: calc(var(--navigation-height) + var(--breadcrumbs-bar-height));
    --z-index-sticky-header: 100;
    --z-index-sidebar-mobile: 90;
    --layout-side-padding-min: 1rem;
    --layout-side-padding: max(
        var(--layout-side-padding-min),
        calc((100vw - 1440px + (2rem)) / 2)
    );
}

*,
::before,
::after {
    box-sizing: border-box;
}

.skip-link {
    --offset: 20em;
    --outline: 2px;
    left: var(--outline);
    list-style: none;
    margin: 0;
    position: absolute;
    right: var(--outline);
    top: calc(var(--offset)*-1);
    width: calc(100% - var(--outline)*2);
    z-index: 1000;
}

h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}

p {
    line-height: var(--font-line-normal);
    font-size: max(1.2em, 1.2vw);
}

ul {
    list-style: none;
}
img,
picture,
video {
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    color: inherit;
    cursor: pointer;
}

[hidden] {
    display: none !important;
}

a {
    color: var(--color-link-blue);
}
