html {
    min-height: 100vh;
    width: 100%;
    overflow-wrap: break-word;
    scroll-behavior: smooth;
    color-scheme: light dark;
}
body {
    margin: auto;
    font-size: var(--font-size);
    line-height: var(--font-line-normal);
    font-family: var(--font-family-sans);

    background-color: var(--background-000);
    color: var(--text-000);
}

h1 {
    letter-spacing: 0.015em;
    font-size: clamp(1.4rem, 2.5vw, 2.0rem);
    text-align: center;
    font-family: var(--font-family-chewy);
}

.page-layout__header {
    display: grid;
    position: sticky;
    top: 0;
    z-index: var(--z-index-sticky-header);

    background-color: var(--background-100);
    color: var(--text-100);
}

main {
    padding: 0.5rem 0.75rem;
}
.aside-left,
.aside-right {
    padding: 0.5rem 0.75rem;
}
footer {
}

.navigation__logo {
    text-shadow: 0.1rem 0.1rem 0.1rem var(--text-000);
}
.navigation__logo a {
    text-decoration: none;
}

.navigation,
.breadcrumb-bar {
    padding: 0 0.25em;
}
.navigation {
}
img.middle {
    margin: 0;
    width: calc(var(--font-size) + 0.35rem);
    padding-right: 0.25rem;
    vertical-align: middle;
    fill: currentColor;
}

.breadcrumb-bar {
    align-items: center;
    border-width: 1px;
    border-top: 1px solid light-dark(
        var(--green),
        var(--yellow));
    display: flex;
    height: var(--breadcrumbs-bar-height);
    justify-content: end;
    max-width: 100vw;
    text-wrap: nowrap;
    font-size: small;
}
.breadcrumb {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0 auto 0 0;
    min-width: 0;
    overflow-x: hidden;
    padding: 2px;
}

.breadcrumb li:not(:last-child)::after {
    content: "/";
    margin-inline: .25rem;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}
.lang-menu__header {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lang-menu__header a {
    padding: 0 0.25em;
    display: block;
}

footer {
    display: grid;
}
.footer-menu {
    padding: 0.5em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: smaller;
}
.footer-menu a {
    padding: 0.25em;
    display: block;
}
.openstreetmap {
    text-align: center;
}
.openstreetmap small {
    display: block;
    font-size: 0.8em;
}
.openstreetmap iframe {
    width: 100%; /* takes precedence over the width set with the HTML width attribute */
}
.copyright {
    text-align: center;
}
.copyright p {
    font-size: 0.8em;
}
.copyright img {
    vertical-align: middle;
}
.lang-menu__footer,
.footer-nav,
.copyright {
    font-size: calc(0.8em + 0.25dvw);
}
.active,
.current {
    text-decoration: none;
    a:hover {
        text-decoration: none;
    }
}

/* Dropdown menu navbar START */
/* Tab Button */
.menu__tab-button {
    margin: 0;
    font: inherit;
    line-height: var(--font-line-ui);
    color: light-dark(var(--yellow) var(--green));
    white-space: nowrap;
    cursor: pointer;
    background-color: transparent;

    &:is([aria-expanded="true"], :hover) {
        color: light-dark(var(--yellow) var(--green));
        background-color: light-dark(var(--green) var(--yellow));
    }

    /* Arrow & Icon */
    &::before,
    &::after {
        width: 1.25rem;
        height: 1.25rem;
        background-color: currentcolor;
        mask-size: cover;
    }

    /* Arrow */
    &::after {
        content: "";
        mask-image: url("../../Icons/icon/chevron-down.svg");
    }
    &[aria-expanded="true"]::after {
        scale: -1;
    }
}

/* Tab Link */
.menu__tab-link {
    /* Custom, to match the icon height */
    line-height: 1.25rem;
}

/* Panel */
.menu__panel-title {
    padding: 0.125rem 1.4rem;
    margin: 0;
    font-size: inherit;
    color: light-dark(var(--yellow) var(--green));
    background-color: light-dark(var(--green) var(--yellow));
}
/* Dropdown navbar END */

/* Solr search settings START */
/* Search */
/*.navigation__search[data-view="mobile"] {
    display: none;
}
.navigation__search[data-view="desktop"] {
    display: block;
}*/
.navigation__search {
    justify-self: end;
}
form {
    display: inline-block;
    /* Form outline */
    background: light-dark(var(--yellow) var(--green));
    padding: 0.25em;
    border: 1px solid light-dark(var(--blue) var(--red));
    border-radius: 0.5em;
}
.input-group {
    display: flex;
}
.search-button {
    background: light-dark(var(--yellow) var(--green));
    &::after {
        content: "";
        mask-image: url("../../Icons/icon/chevron-down.svg");
    }
}
/*.input-group input {
    background: var(--globals-background-primary);
}
.input-group button {
    background: var(--globals-background-secondary);
}*/
/* Solr search settings END */

