<header class="page-header" role="banner">
    <f:link.page pageUid="{site.rootPageId}" class="navbar-brand">
        <f:if condition="{page.header.logo.enable}">
            <f:render
                partial="Structure/Logo"
                arguments="{_all}"/>
        </f:if>
    </f:link.page>
    <h1 class="site-name">
        <f:link.page pageUid="{site.rootPageId}" class="navbar-brand">
            {site.configuration.websiteTitle} - {page.pageRecord.title}
        </f:link.page>
    </h1>

    <p class="site-description">Design 001</p>

    <nav class="main-nav" role="navigation">
        <f:render partial="Navigation/Main" arguments="{_all}"/>

        <f:if condition="{page.header.languagenavigation.enable}">
            <f:render partial="Navigation/LanguageMenu" arguments="{_all}"/>
        </f:if>
    </nav>

        <f:render partial="Structure/Search" arguments="{_all}"/>
</header>
