<header class="page-header" role="banner">
    <nav class="navbar" role="navigation">
        <div class="logo">
            <f:link.page pageUid="{site.rootPageId}" class="navbar-brand">
                <f:if condition="{settings.page.header.logo.enable}">
                    <f:render
                        partial="Structure/Logo"
                        arguments="{_all}"/>
                </f:if>
                {site.configuration.websiteTitle} - {page.pageRecord.title}
            </f:link.page>
        </div>
        <div class="hamburger">
            <f:image
                src="EXT:rlt3sitepackage/Resources/Public/Images/mdn/hamburger.svg"
                alt="hamburger" />
        </div>
        <f:render partial="Navigation/Main" arguments="{mainMenu:mainMenu}"/>

        <f:if condition="{settings.page.header.languagenavigation.enable}">
            <f:render partial="Navigation/LanguageMenu" arguments="{_all}"/>
        </f:if>

        <f:render partial="Structure/Search" arguments="{_all}"/>
    </nav>
</header>
