html {
    min-height: 100vh;
    width: 100%;
    overflow-wrap: break-word;
    scroll-behavior: smooth;
    color-scheme: light dark;
}

body {
    /* set dynamic default colors. These colors are changed using .theme-<name> classes.*/
    --color-background: light-dark(
        var(--color-neutral-0),
        var(--color-neutral-70));
    --link-color: light-dark(
        var(--color-primary-100),
        var(--color-primary-75));
    --link-color-hover: light-dark(
        var(--color-neutral-50),
        var(--color-neutral-30));

    margin: auto;
    font-size: var(--font-size);
    line-height: var(--font-line-normal);
    font-family: var(--font-family-sans);
    background: var(--color-background);
}

a {
    color: var(--link-color);
}

a:hover,
a:active {
    color: var(--link-color-hover);
}

h1 {
    letter-spacing: 0.015em;
    font-size: clamp(1.4rem, 2.5vw, 2.0rem);
    text-align: center;
    font-family: var(--font-family-chewy);
}

main {
    padding: 0.5rem 0.75rem;
}
.aside-left,
.aside-right {
    background: transparent;
    padding: 0.5rem 0.75rem;
    background: light-dark(
        var(--color-neutral-20),
        var(--color-neutral-80));
}
.active,
.current {
    text-decoration: none;
    color: var(--color-text-blue);
    background: var(--color-background-coffee);
    a:hover {
        text-decoration: none;
    }
}

/* media queries equal or larger than 62.5rem */
@media (width > 62.5rem) {

    .page-layout__header,
    .content-wrapper,
    .page-footer {
        padding-inline: var(--layout-side-padding);
    }

    .content-wrapper {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        display: flex;
    }

    .content-wrapper > * {
        flex: 1;
    }
    .content-wrapper > main {
        flex-grow: 3;
    }

    .breadcrumb-bar {
        font-size: unset;
    }
}

/* media between 45rem and 69.99rem */
/*
@media (min-width: 45rem) and (width <= 62.49rem) {

    .content-wrapper {
        display: flex;
    }
    .content-wrapper > * {
        flex: 1;
    }
    .content-wrapper > main {
        flex-grow: 3;
        border-right: 0.1rem solid var(--color-border-active);
        border-left: 0.1rem solid var(--color-border-active);
    }
}
*/
/* media queries equal or larger than 70rem */
@media (width > 62.5rem) {

    .page-layout__header,
    .content-wrapper,
    .page-footer {
        padding-inline: var(--layout-side-padding);
    }

    .content-wrapper {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        display: flex;
    }

    .content-wrapper > * {
        flex: 1;
    }
    .content-wrapper > main {
        flex-grow: 3;
    }

    /*:root {
        --navigation-height: 4.125rem;
    }*/

    /* Dropdown navbar START */
}

