html {
    min-height: 100vh;
    width: 100%;
    overflow-wrap: break-word;
    scroll-behavior: smooth;
    color-scheme: light dark;
}

body {
    /* set dynamic default colors. These colors are changed using .theme-<name> classes.*/
    --color-background: light-dark(
        var(--color-neutral-0),
        var(--color-neutral-90));
    --link-color: light-dark(
        var(--color-neutral-70),
        var(--color-neutral-10));
    --link-color-hover: light-dark(
        var(--color-neutral-50),
        var(--color-neutral-30));

    margin: auto;
    font-size: var(--font-size);
    line-height: var(--font-line-normal);
    font-family: var(--font-family-sans);
    background: var(--color-background);
}

a {
    color: var(--link-color);
}

a:hover,
a:active {
    color: var(--link-color-hover);
}

h1 {
    letter-spacing: 0.015em;
    font-size: clamp(1.4rem, 2.5vw, 2.0rem);
    text-align: center;
    font-family: var(--font-family-chewy);
}
.page-layout__header {
    --color-background-dark: light-dark(
        var(--color-neutral-90),
        var(--color-neutral-0));
    display: grid;
    position: sticky;
    top: 0;
    z-index: var(--z-index-sticky-header);
    background-color: var(--color-background-dark);
}
.page-layout__header a {
    color: light-dark(
        var(--color-neutral-90),
        var(--color-neutral-0)
    );
}
