html {
    min-height: 100vh;
    width: 100%;
    overflow-wrap: break-word;
    scroll-behavior: smooth;
    color-scheme: light dark;
}

body {
    /* set dynamic default colors. These colors are changed using .theme-<name> classes.*/
    --color-background: light-dark(
        var(--color-neutral-0),
        var(--color-neutral-70));
    --link-color: light-dark(
        var(--color-primary-100),
        var(--color-primary-75));
    --link-color-hover: light-dark(
        var(--color-neutral-50),
        var(--color-neutral-30));

    margin: auto;
    font-size: var(--font-size);
    line-height: var(--font-line-normal);
    font-family: var(--font-family-sans);
    background: var(--color-background);
}

a {
    color: var(--link-color);
}

a:hover,
a:active {
    color: var(--link-color-hover);
}

h1 {
    letter-spacing: 0.015em;
    font-size: clamp(1.4rem, 2.5vw, 2.0rem);
    text-align: center;
    font-family: var(--font-family-chewy);
}

main {
    padding: 0.5rem 0.75rem;
}
.aside-left,
.aside-right {
    background: transparent;
    padding: 0.5rem 0.75rem;
    background: light-dark(
        var(--color-neutral-20),
        var(--color-neutral-80));
}
.active,
.current {
    text-decoration: none;
    color: var(--color-text-blue);
    background: var(--color-background-coffee);
    a:hover {
        text-decoration: none;
    }
}

/* Dropdown menu navbar START */
/* Tab Button */
.menu__tab-button {
    margin: 0;
    font: inherit;
    line-height: var(--font-line-ui);
    color: var(--color-text-blue);
    white-space: nowrap;
    cursor: pointer;
    background-color: transparent;

    &:is([aria-expanded="true"], :hover) {
        color: var(--color-link-green);
        background-color: var(--bg-hover);
    }

    /* Arrow & Icon */
    &::before,
    &::after {
        width: 1.25rem;
        height: 1.25rem;
        background-color: currentcolor;
        mask-size: cover;
    }

    /* Arrow */
    &::after {
        content: "";
        mask-image: url("../Icons/icon/chevron-down.svg");
    }
    &[aria-expanded="true"]::after {
        scale: -1;
    }
}

/* Tab Link */
.menu__tab-link {
    /* Custom, to match the icon height */
    line-height: 1.25rem;
}

/* Panel */
.menu__panel-title {
    padding: 0.125rem 1.4rem;
    margin: 0;
    font-size: inherit;
    background-color: var(--bg-hover);
}
/* Dropdown navbar END */

/* Solr search settings START */
/* Search */
/*.navigation__search[data-view="mobile"] {
    display: none;
}
.navigation__search[data-view="desktop"] {
    display: block;
}*/
.navigation__search {
    justify-self: end;
}
form {
    display: inline-block;
    /* Form outline */
    background: var(--color-background-coffee);
    padding: 0.25em;
    border: 1px solid var(--color-text-aqua);
    border-radius: 0.5em;
}
.input-group {
    display: flex;
}
.search-button {
    background: var(--color-background-coffee);
    &::after {
        content: "";
        mask-image: url("../../Icons/icon/chevron-down.svg");
    }
}
/*.input-group input {
    background: var(--color-background-primary);
}
.input-group button {
    background: var(--color-background-secondary);
}*/
/* Solr search settings END */
