/* themed properties
---------------------------------------------------- */

:root {
    --baseHue: 240;
    --primary: hsl(var(--baseHue) 80% 40%);
    --accent1: hsl(calc(var(--baseHue) - 231) 80% 40%);
    --backgr1: hsl(calc(var(--baseHue) - 231) 80% 40% / .15);
    --accent2: hsl(calc(var(--baseHue) - 200) 90% 50%);
    --backgr2: hsl(calc(var(--baseHue) - 200) 90% 50% / .15);
    --theme-contrast: #ffffff;
    --theme-primary: #b30027;
    --theme-font-size: 125%;
    --unsupported-message-display: none;
}


/* themed elements
---------------------------------------------------- */
