<header class="page-layout__header">
    <a id="skip-link" class="visually-hidden" href="#content-main">
        {f:translate(key:'skip-link',extensionName:'rlt3sitepackage')}
    </a>
    <f:comment><!-- <h2>Data in variable headerMenu</h2>
    <f:debug inline="true">{headerMenu}</f:debug>--></f:comment>
    <nav class="navigation" data-scheme="" data-open="false">
        <div class="navigation__logo">
            <h1 class="site-name">
                <f:if condition="{settings.page.header.logo.enable}">
                    <f:render
                        partial="Structure/Logo"
                        arguments="{_all}"/>
                </f:if>
                {site.configuration.websiteTitle} - {page.pageRecord.title}
            </h1>
        </div>
        <f:render partial="Navigation/MainMenu" arguments="{_all}"/>
        <f:if condition="{settings.page.header.languagenavigation.enable}">
            <f:render partial="Navigation/LanguageMenu" arguments="{_all}"/>
        </f:if>
    </nav>
    <f:render partial="Navigation/Breadcrumb" arguments="{_all}"/>
</header>
