<header class="page-layout__header">
    <f:comment><!-- <h2>Data in variable headerMenu</h2>
    <f:debug inline="true">{headerMenu}</f:debug>--></f:comment>
    <nav class="navigation" data-scheme="" data-open="false">
        <h1 class="navigation__logo">
            <f:if condition="{settings.page.header.logo.enable}">
                <f:render
                    partial="Structure/Logo"
                    arguments="{_all}"/>
            </f:if>
            {site.configuration.websiteTitle}
        </h1>
        <f:render partial="Navigation/MainMenu" arguments="{_all}"/>
    </nav>
    <f:render partial="Navigation/Breadcrumb" arguments="{_all}"/>
</header>
