<f:layout name="ResterlandLayout"/>
<f:section name="PageContent">
    <main>
        <f:render partial="Navigation/Breadcrumb" arguments="{_all}"/>
        <h2>Data in variable site</h2>
        <f:debug inline="true">{site}</f:debug>

        <h2>Output</h2>

        <p>Base url: <f:link.page pageUid="{site.rootPageId}">{site.configuration.base}</f:link.page></p>

        <div>
            <p>The title of the page with id {page.id} is: {page.pageRecord.title}. It has the
                following abstract:</p>
            <p>{page.pageRecord.abstract}</p>
        </div>

        <f:render partial="Content" arguments="{records: content.main.records}"/>
    </main>
</f:section>
