<f:layout name="DefaultLayout"/>
<f:comment><!-- <f:if condition="{applicationContext} == 'Development/Local'">
        <f:debug>{content.aside-left.records}</f:debug>
        <f:debug>{content.main.records}</f:debug>
        <f:debug>{content.aside-right.records}</f:debug>
    </f:if>--></f:comment>

<f:section name="MainContent">
    <f:section name="AsideContentLeft">
        <aside class="aside-left">
            <f:for each="{content.aside-left.records}" as="asideContent">
                <f:cObject
                    typoscriptObjectPath="{asideContent.mainType}"
                    data="{asideContent.rawRecord}"
                    table="{asideContent.mainType}"
                />
            </f:for>
        </aside>
    </f:section>
    <main>
        <f:render partial="Navigation/Breadcrumb" arguments="{_all}"/>
        <f:for each="{content.main.records}" as="record">
            <f:cObject
                typoscriptObjectPath="{record.mainType}"
                data="{record.rawRecord}"
                table="{record.mainType}"
            />
        </f:for>
    </main>
    <f:section name="AsideContentRight">
        <aside class="aside-right">
            <f:for each="{content.aside-right.records}" as="asideContent">
                <f:cObject
                    typoscriptObjectPath="{asideContent.mainType}"
                    data="{asideContent.rawRecord}"
                    table="{asideContent.mainType}"
                />
            </f:for>
        </aside>
    </f:section>
</f:section>
