<f:layout name="HolyGrailLayout"/>
<f:section name="HolyGrailContent">
    <f:comment><!-- <f:if condition="{applicationContext} == 'Development/Local'">
        <f:debug>{content.aside-left.records}</f:debug>
        <f:debug>{content.main.records}</f:debug>
        <f:debug>{content.aside-right.records}</f:debug>
    </f:if>--></f:comment>

    <aside class="left">
        <f:render partial="Content/ContentAsideLeft"
                  arguments="{records: content.aside-left.records}"/>
    </aside>

    <f:comment><!--<f:if condition="{content.aside-left.records}">
        <aside class="left">
            <f:render partial="Content/ContentAsideLeft"
                      arguments="{records: content.aside-left.records}"/>
        </aside>
    </f:if>--></f:comment>

    <main>
        <f:render partial="Navigation/Breadcrumb" arguments="{_all}"/>
        <f:comment><!--<f:if condition="{applicationContext} == 'Development/Local'">
            <f:render partial="Variables" arguments="{_all}"/>
        </f:if>--></f:comment>

        <f:render partial="Content/ContentMain" arguments="{records: content.main.records}"/>
    </main>

    <aside class="right">
        <f:render partial="Content/ContentAsideRight"
                  arguments="{records: content.aside-right.records}"/>
    </aside>
    
    <f:comment><!--f:if condition="{content.aside-right.records}">
        <aside class="right">
            <f:render partial="Content/ContentAsideRight"
                      arguments="{records: content.aside-right.records}"/>
        </aside>
    </f:if>--></f:comment>
</f:section>
