<f:layout name="ResterlandLayout"/>
<f:section name="PageContent">
    <main>
        <f:if condition="{settings.page.themes.breadcrumb.enable}">
            <f:render
                partial="Navigation/Breadcrumb"
                arguments="{_all}"/>
        </f:if>
        <f:render
            partial="Content"
            arguments="{records: content.main.records}"/>
    </main>
    <aside>
        <f:render
            partial="Content"
            arguments="{records: content.sidebar.records}"/>
    </aside>
</f:section>
