<header class="page-header" role="banner">
    <f:link.page pageUid="{site.rootPageId}" class="navbar-brand">
        <f:if condition="{settings.page.header.logo.enable}">
            <f:render
                partial="Structure/Logo"
                arguments="{_all}"/>
        </f:if>
    </f:link.page>
    <f:link.page pageUid="{site.rootPageId}" class="navbar-brand">
        <h1 class="site-name">
            {data.title}
        </h1>
    </f:link.page>

    <f:render partial="Navigation/Main" arguments="{_all}"/>

    <f:if condition="{settings.page.header.languagenavigation.enable}">
        <f:render partial="Navigation/LanguageMenu" arguments="{_all}"/>
    </f:if>
</header>
