/*
### OKLCH - explained
    Syntax:
    oklch(L C H / a)

    - L is perceived lightness (wahrgenommene Helligkeit)
        It ranges from 0 (black) to 1 (white).
     - C is chroma, the saturation of color (Farbsättigung)
         It goes from 0 (gray) to infinity.
         In practice there is actually a limit.
         For both P3 and sRGB the value will be always below 0.37
      - H is the hue angle (Farbtonwinkel)
          It goes from 0 to 360, through
          red 20
          yellow 90
          green 140
          blue 220
          purple 320
          and then back to red
      - a is opacity (Deckkraft)
          (0-1 or 0-100%)
*/

@import url("border.css");
@import url("background.css");
@import url("text.css");
@import url("link.css");
@import url("scrollbar.css");
@import url("area.css");

/* Basic Colors */
:root {
    --color-white: hsl(0 0% 100%);
    --color-white-alpha-25: hsl(0 0% 100% / 25%);
    --color-white-alpha-75: hsl(0 0% 100% / 75%);

    --color-black: hsl(0 0% 0%);
    --color-black-alpha-25: hsl(0 0% 0% / 25%);
    --color-black-alpha-75: hsl(0 0% 0% / 75%);
}

/* Black - White - Greyscale */
:root {
    --white:oklch(1 0 0);
    --black:oklch(0 0 0);

    --color-gray: hsl(0 0% 50%);
    --color-gray-90: hsl(0 0% 90%);
    --color-gray-80: hsl(0 0% 80%);
    --color-gray-60: hsl(0 0% 60%);
    --color-gray-40: hsl(0 0% 40%);
    --color-gray-20: hsl(0 0% 20%);
    --color-gray-10: hsl(0 0% 10%);
    --color-gray-05: hsl(0 0% 5%);
}

/* Red - Yellow - Green - Blue - Purple */
:root {
    --red: oklch(0.628 0.258 29.234);
    --yellow: oklch(0.968 0.211 109.769);
    --green: oklch(0.52 0.177 142.495);
    --blue: oklch(0.452 0.313 264.052);
    --purple: oklch(0.421 0.193 328.363);
}
