/* variables */
:root {
    /* light - dark */

    --light: oklch(
        from var(--base-color)
        calc(l * 1)
        c h
    );
    --dark: oklch(
        from var(--base-color)
        calc(l * .5)
        c h
    );

    --light-C: oklch(
        from var(--base-color)
        calc(l + 0.05)
        c h
    );
    --dark-C: oklch(
        from var(--base-color)
        calc(l - 0.25)
        c h
    );

    --light-3: oklch(
        from var(--base-color)
        calc(l + 0.01)
        c h
    );
    --dark-3: oklch(
        from var(--base-color)
        calc(l - 0.35)
        c h
    );

    --background: light-dark(var(--light), var(--dark));
    --text: light-dark(var(--dark), var(--light));

    --background-C: light-dark(var(--light-C), var(--dark-C));
    --text-C: light-dark(var(--dark-C), var(--light-C));

    --background-3: light-dark(var(--light-3), var(--dark-3));
    --text-3: light-dark(var(--dark-3), var(--light-3));

    --breadcrumbs-bar-height: 2rem;
    --top-banner-height: 3.375rem;
    --navigation-height: 5rem;
    --sticky-header-height: calc(var(--navigation-height) + var(--breadcrumbs-bar-height));
    --z-index-sticky-header: 100;
    --z-index-sidebar-mobile: 90;
    --layout-side-padding-min: 1rem;
    --layout-side-padding: max(
        var(--layout-side-padding-min),
        calc((100vw - 1440px + (2rem)) / 2)
    );
}
