<f:be.pageRenderer includeJavaScriptModules="{
    0: 'lit',
    1: 'utils',
}"/>

<f:asset.script identifier="rldropdown" type="module"
                src="EXT:rlt3sitepackage/Resources/Public/JavaScript/rldropdown.js" />

<f:asset.script identifier="rldropdown" type="module"
                src="EXT:rlt3sitepackage/Resources/Public/JavaScript/language-switcher.js" />

<f:asset.script identifier="hook" type="module"
                src="EXT:rlt3sitepackage/Resources/Public/JavaScript/hook.js" />

<f:asset.css identifier="mobilefirst" href="EXT:rlt3sitepackage/Resources/Public/Css/mobilefirst.css"
             priority="1" />
<f:spaceless>
    <ul class="skip-link">
        <li>
            <a href="#content-main">
                {f:translate(key:'skip-link',extensionName:'rlt3sitepackage')}
            </a>
        </li>
    </ul>
    <f:render partial="Header/Header" arguments="{_all}"/>

    <f:render section="MainContent"/>

    <f:render partial="Footer/Footer" arguments="{_all}"/>
</f:spaceless>

