<f:asset.css identifier="mybootstrap"
             href="EXT:rlt3_site_package/Resources/Public/Css/Bootstrap5/bootstrap.min.css" />
<f:asset.css identifier="rlbootstrap"
             href="EXT:rlt3_site_package/Resources/Public/Css/rlbootstrap.css" />
<div id="top"></div>

<!--<f:render partial="Structure/CookieConsent" arguments="{_all}" />-->
<f:render partial="Structure/Skiplink" arguments="{_all}" />
<f:render partial="Header/Header" arguments="{_all}"/>

<main id="page-content">
    <!--TYPO3SEARCH_begin-->
    <f:render section="Main"/>
    <!--TYPO3SEARCH_end-->
</main>

<f:render partial="Footer/Footer" arguments="{_all}" />

<f:render partial="Structure/ScrollTop" arguments="{_all}" />

<f:asset.script identifier="mybootstrap"
                src="EXT:rlt3_site_package/Resources/Public/JavaScript/Bootstrap5/bootstrap.bundle.min.js"/>
<f:asset.script identifier="main"
                src="EXT:rlt3_site_package/Resources/Public/JavaScript/main.js" />
