<rl-language-switcher>
    <div class="language-switcher">
        <button
            class="language-switcher__button"
            type="button"
            slot="button"
            aria-expanded="true"
            aria-controls="language-switcher__dropdown"
            aria-labelledby="current-locale"
        >
                <span>
                    {siteLanguageNavigationTitle}
                </span>
        </button>
        <div slot="dropdown" class="language-switcher__dropdown" id="language-switcher__dropdown">
            <ul class="language-switcher__list">
                <f:for each="{languagemenu}" as="languageItem">
                    <li>
                        <f:if condition="{languageItem.available}">
                            <f:then>
                                <a class="language-switcher__option {f:if(condition: languageItem.active, then: 'active')}"
                                   href="{languageItem.link}" hreflang="{languageItem.hreflang}"
                                   title="{languageItem.title}">
                                    <bdi>{languageItem.navigationTitle}</bdi>
                                </a>
                            </f:then>
                            <f:else>
                                <span class="nav-link-text">&nbsp;</span>
                            </f:else>
                        </f:if>
                    </li>
                </f:for>
            </ul>
        </div>
    </div>
</rl-language-switcher>
