
<f:for each="{languagemenu}" as="item">
    <li
        class="lang-menu-item {f:if(condition: item.available, else: 'text-muted')}" lang="{item.hreflang}">
        <f:if condition="{item.available}">
            <f:then>
                <a class="nav-link {f:if(condition: item.active, then: 'active')}"
                   href="{item.link}" hreflang="{item.hreflang}"
                   title="{item.title}">
                    <bdi>{item.navigationTitle}</bdi>
                </a>
            </f:then>
            <f:else>
                <span class="nav-link-text">&nbsp;</span>
            </f:else>
        </f:if>
    </li>
</f:for>
