<nav class="color-theme" id="color-theme">
    <rl-dropdown loaded="">
        <button
            class="color-theme__button"
            type="button"
            slot="button"
            aria-expanded="true"
            aria-controls="color-theme__dropdown"
            aria-labelledby="current-theme"
        >
                <span>
                    current theme
                </span>
        </button>
        <div slot="dropdown" class="color-theme__dropdown" id="color-theme__dropdown">
            <ul class="color-theme__list">
                    <li>
                        <button id="autoSwitch" type="button" onclick="switchAuto()">Auto</button>
                    </li>
                <li>
                    <button id="lightSwitch" type="button" onclick="switchLight()">Light</button>
                </li>
                <li>
                    <button id="darkSwitch" type="button" onclick="switchDark()">Dark</button>
                </li>
            </ul>
        </div>
    </rl-dropdown>
</nav>
