<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
<div class="scheme-switcher">
    <rl-dropdown>
        <button
            slot="button"
            class="scheme-switcher__button"
            title="Switch between light &amp; dark"
            type="button"
            aria-label="{f:translate(key:'scheme-switch.aria_label',extensionName:'rlt3sitepackage')}"
        >
            <f:render partial="SVG/contrast.svg" arguments="{_all}"/>
            <span>{f:translate(key:'scheme-switch.title',extensionName:'rlt3sitepackage')}</span>
        </button>
        <div
            slot="dropdown"
            class="scheme-switcher__dropdown"
            id="scheme-switcher__dropdown"
        >
            <ul class="scheme-switcher__list">
                <li class="scheme-switcher__item">
                    <button
                        class="auto"
                        id="auto"
                        title="Let the OS decide"
                        aria-label="auto"
                        aria-pressed="true"
                        aria-live="polite"
                    >
                        <f:render partial="SVG/contrast.svg" arguments="{_all}"/>

                        {f:translate(key:'scheme-switch.auto',extensionName:'rlt3sitepackage')}</button>
                </li>
                <li class="scheme-switcher__item">
                    <button
                        id="lightSwitch"
                        class="scheme__option"
                        aria-pressed="true"
                        onclick="switchLight()"
                    >
                        <f:render partial="SVG/sun.svg" arguments="{_all}"/>

                        {f:translate(key:'scheme-switch.light',extensionName:'rlt3sitepackage')}</button>
                </li>
                <li class="scheme-switcher__item">
                    <button
                        id="darkSwitch"
                        type="button"
                        class="scheme__option"
                        aria-pressed="true"
                        onclick="switchDark()"
                    >
                        <f:render partial="SVG/moon.svg" arguments="{_all}"/>

                        {f:translate(key:'scheme-switch.dark',extensionName:'rlt3sitepackage')}</button>
                </li>
            </ul>
        </div>
    </rl-dropdown>
</div>
</html>
