
<button id="lightSwitch" type="button" onclick="switchLight()">Light</button>
<button id="darkSwitch" type="button" onclick="switchDark()">Dark</button>
<button id="autoSwitch" type="button" onclick="switchAuto()">Auto</button>
<label for="hueSlider">&nbsp; Hue:</label>
<input id="hueSlider" type="range" min="0" max="360" value="222">

<div>Theme color,
    <br><div class="oklch"></div> in OKLCH color space
    <br><div class="hsl"></div> in HSL color space</div>
<p class="oklch">Here's some themed text in a themed box :) (OKLCH)</p>
<p class="hsl">Here's some themed text in a themed box :) (HSL)</p>
