<div class="scheme-switcher" aria-label="Color scheme switcher">
    <rl-dropdown>
        <button
            slot="button"
            class="scheme-switcher__button"
            title="Switch between light &amp; dark"
            type="button"
            aria-label="{f:translate(key:'scheme-switch.aria_label',extensionName:'rlt3sitepackage')}"
        >
            <f:render partial="SVG/contrast.svg" arguments="{_all}"/>
            <span>{f:translate(key:'scheme-switch.title',extensionName:'rlt3sitepackage')}</span>
        </button>
        <div
            slot="dropdown"
            class="scheme-switcher__dropdown"
            id="scheme-switcher__dropdown"
        >
            <ul class="scheme-switcher__list">
                <li class="scheme-switcher__item">
                    <button
                        class="auto"
                        id="auto"
                        value="light dark"
                        title="Let the OS decide"
                        aria-label="auto"
                        aria-pressed="true"
                        aria-live="polite"
                    >
                        <f:render partial="SVG/contrast.svg" arguments="{_all}"/>

                        {f:translate(key:'scheme-switch.auto',extensionName:'rlt3sitepackage')}</button>
                </li>
                <li class="scheme-switcher__item">
                    <button
                        id="light"
                        class="light"
                        value="light"
                        title="Light Scheme"
                        aria-label="light"
                        aria-pressed="false"
                        aria-live="polite"
                    >
                        <f:render partial="SVG/sun.svg" arguments="{_all}"/>

                        {f:translate(key:'scheme-switch.light',extensionName:'rlt3sitepackage')}</button>
                </li>
                <li class="scheme-switcher__item">
                    <button
                        id="dark"
                        class="dark"
                        value="dark"
                        title="Dark Scheme"
                        aria-label="dark"
                        aria-pressed="false"
                        aria-live="polite"
                    >
                        <f:render partial="SVG/moon.svg" arguments="{_all}"/>

                        {f:translate(key:'scheme-switch.dark',extensionName:'rlt3sitepackage')}</button>
                </li>
            </ul>
        </div>
    </rl-dropdown>
</div>
