<div class="color-theme">
    <rl-dropdown>
        <button
            slot="button"
            class="color-theme__button"
            data-mode=""
            type="button"
            aria-label="{f:translate(key:'scheme-switch.aria_label',extensionName:'rlt3sitepackage')}"
        >
            <span>{f:translate(key:'scheme-switch.title',extensionName:'rlt3sitepackage')}</span>
        </button>
        <div
            slot="dropdown"
            class="color-theme__dropdown"
            id="color-theme__dropdown"
        >
            <ul class="color-theme__list">
                <li>
                    <button
                        id="autoSwitch"
                        class="color-theme__option"
                        aria-pressed="true"
                        type="button"
                    >{f:translate(key:'scheme-switch.auto',extensionName:'rlt3sitepackage')}</button>
                </li>
                <li>
                    <button
                        id="lightSwitch"
                        class="color-theme__option"
                        aria-pressed="true"
                        type="button"
                    >{f:translate(key:'scheme-switch.light',extensionName:'rlt3sitepackage')}</button>
                </li>
                <li>
                    <button
                        id="darkSwitch"
                        class="color-theme__option"
                        aria-pressed="true"
                        type="button"
                    >{f:translate(key:'scheme-switch.dark',extensionName:'rlt3sitepackage')}</button>
                </li>
            </ul>
        </div>
    </rl-dropdown>
</div>
