<div class="scheme-switcher">
    <rl-dropdown>
        <button
            slot="button"
            class="scheme-switcher__button"
            data-mode=""
            type="button"
            aria-label="{f:translate(key:'scheme-switch.aria_label',extensionName:'rlt3sitepackage')}"
        >
            <span>{f:translate(key:'scheme-switch.title',extensionName:'rlt3sitepackage')}</span>
        </button>
        <div
            slot="dropdown"
            class="scheme-switcher__dropdown"
            id="scheme-switcher__dropdown"
        >
            <ul class="scheme-switcher__list">
                <li class="scheme-switcher__item">
                    <button
                        class="theme-toggle"
                        id="theme-toggle"
                        title="Toggles light & dark"
                        aria-label="auto"
                        aria-pressed="true"
                        aria-live="polite"
                        onclick="switchAuto()"
                    >
                        <svg class="sun-and-moon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24">
                            …
                        </svg>
                        {f:translate(key:'scheme-switch.auto',extensionName:'rlt3sitepackage')}</button>
                </li>
                <li class="scheme-switcher__item">
                    <button
                        id="lightSwitch"
                        type="button"
                        class="scheme__option"
                        aria-pressed="true"
                        onclick="switchLight()"
                    >{f:translate(key:'scheme-switch.light',extensionName:'rlt3sitepackage')}</button>
                </li>
                <li class="scheme-switcher__item">
                    <button
                        id="darkSwitch"
                        type="button"
                        class="scheme__option"
                        aria-pressed="true"
                        onclick="switchDark()"
                    >{f:translate(key:'scheme-switch.dark',extensionName:'rlt3sitepackage')}</button>
                </li>
            </ul>
        </div>
    </rl-dropdown>
</div>
