/* variables */
:root {
    /* contrast */
    --light-000: oklch(from var(--base-color) calc(l + 0.45) c h);
    --dark-000: oklch(from var(--base-color) calc(l - 0.25) c h);

    --light--link: oklch(from var(--blue) calc(l + 0.45) c h);
    --dark-link: oklch(from var(--blue) calc(l - 0.25) c h);

    --light-100: oklch(from var(--base-color) calc(l + 0.7) c h);
    --dark-100: oklch(from var(--base-color) calc(l - 0.7) c h);

    --light-200: oklch(from var(--base-color) calc(l + 0.25) c h);
    --dark-200: oklch(from var(--base-color) calc(l - 0.25) c h);
}
:root {
    /* light - dark */
    --background-000: light-dark(var(--light-000), var(--dark-000));
    --text-000: light-dark(var(--dark-000), var(--light-000));

    --background-100: light-dark(var(--light-100), var(--dark-100));
    --text-100: light-dark(var(--dark-100), var(--light-100));

    --background-200: light-dark(var(--light-200), var(--dark-200));
    --text-200: light-dark(var(--dark-200), var(--light-200));

    --link-color: light-dark(oklch(from var(--blue) calc(l + 0.15) c h), oklch(from var(--blue) calc(l - 0.35) c h));
    --link-color-hover: light-dark(oklch(from var(--blue) calc(l + 0.35) c h), oklch(from var(--blue) calc(l - 0.15) c h));
}
