.scheme-switcher__button {

    font-style: italic;
}

.scheme-switcher__dropdown {
    width: max-content;

    padding: 0.25rem 1rem;
}

.scheme-switcher__list {
    width: max-content;
}
.scheme-switcher__item {
    margin-bottom: 0.15rem;

    &:last-child {
        margin: 0;
    }
}
