/*
### OKLCH - explained
    Syntax:
    oklch(L C H / a)

    - L is perceived lightness (wahrgenommene Helligkeit)
        It ranges from 0 (black) to 1 (white).
     - C is chroma, the saturation of color (Farbsättigung)
         It goes from 0 (gray) to infinity.
         In practice there is actually a limit.
         For both P3 and sRGB the value will be always below 0.37
      - H is the hue angle (Farbtonwinkel)
          It goes from 0 to 360, through
          red 20
          yellow 90
          green 140
          blue 220
          purple 320
          and then back to red
      - a is opacity (Deckkraft)
          (0-1 or 0-100%)
*/

/*@import url("border.css");
@import url("background.css");
@import url("text.css");
@import url("link.css");
@import url("scrollbar.css");
@import url("area.css");*/

/* Black - White - Greyscale */
:root {
    --white:oklch(1 0 0);
    --black:oklch(0 0 0);
    --black-alpha-15: oklch(0 0 0 / 0.15);
    --black-alpha-75: oklch(0 0 0 / 0.75);
}

/* Red - Yellow - Green - Blue - Purple */
:root {
    --gray: oklch(0.5 0 0);
    --blue: oklch(0.45 0.25 264);
    --green: oklch(0.52 0.25 142);
    --orange: oklch(0.79 0.25 70);
    --purple: oklch(0.42 0.25 328);
    --red: oklch(0.62 0.25 29);
    --yellow: oklch(0.96 0.25 109);

    --accent: oklch(0.7 0.14 113);
}

:root {
    --color-primary-75: #78BCFF;
    --color-primary-100: #0068CE;

    --color-neutral-0: #FFFFFF;
    --color-neutral-10: #EBF0F5;
    --color-neutral-20: #D9E2EC;
    --color-neutral-30: #B7C2D0;
    --color-neutral-40: #9AA9BC;
    --color-neutral-50: #8E9BAB;
    --color-neutral-60: #677688;
    --color-neutral-70: #46576C;
    --color-neutral-80: #2D3A49;
    --color-neutral-90: #011022;
}

.theme-forest-mist {
    --color-primary-75: #86B6A6;
    --color-primary-100: #266D55;

    --color-neutral-0: #FFFFFF;
    --color-neutral-10: #EDEBE9;
    --color-neutral-20: #E3DEDA;
    --color-neutral-30: #CCCAC8;
    --color-neutral-40: #B3AEAA;
    --color-neutral-50: #9F9893;
    --color-neutral-60: #7B746F;
    --color-neutral-70: #51463F;
    --color-neutral-80: #443B35;
    --color-neutral-90: #220E01;
}

.theme-violet-velvet {
    --color-primary-75: #D0B4FF;
    --color-primary-100: #6E1AFF;

    --color-neutral-0: #FFFFFF;
    --color-neutral-10: #F0EFF2;
    --color-neutral-20: #D7D5DB;
    --color-neutral-30: #CAC8CC;
    --color-neutral-40: #AEAAB3;
    --color-neutral-50: #97939F;
    --color-neutral-60: #736F7B;
    --color-neutral-70: #463F51;
    --color-neutral-80: #3A3544;
    --color-neutral-90: #0D0122;
}

