<div class="openstreetmap">
    <iframe
        id="{categories.Rlt3sitepackage.footer.openstreetmap}"
        title="{settings.page.footer.openstreetmap.title}"
        width="{settings.page.footer.openstreetmap.width}"
        height="{settings.page.footer.openstreetmap.height}"
        src="{settings.page.footer.openstreetmap.src}"
    ></iframe><br />
    <small>
        <a
            href="https://www.openstreetmap.org/?mlat=46.553733&amp;mlon=7.370898#map=19/46.553733/7.370898"
            target="_blank"
        >
            {f:translate(key:'openstreetmap.enlarge',extensionName:'rlt3sitepackage')}
        </a>
    </small>
</div>
