:root {
    --font-line-content: 1.75;
    --font-line-normal: 1.5;
    --font-line-ui: 1;

    --font-size-largest: 2.5rem;
    --font-size-larger: 2rem;
    --font-size-large: 1.5rem;
    --font-size-normal: 1rem;
    --font-size-small: 0.8rem;

    --font-weight-normal: 400;
    --font-weight-bold: 600;
}
