:root {
    --color-gray-90: hsl(212deg 7% 97%);
    --color-gray-80: hsl(212deg 7% 93.5%);
    --color-gray-60: hsl(212deg 7% 78%);
    --color-gray-40: hsl(212deg 7% 34%);
    --color-gray-20: hsl(212deg 7% 19%);
    --color-gray-10: hsl(212deg 7% 14%);
    --color-gray-05: hsl(212deg 7% 10%);
}
