

:root {
    /* colors */
    --rl-white: #ffffff;
    --rl-white2: #fffbf0;
    --rl-white-almost: #ffede0;
    --rl-white-almost2: #EED9C4;
    --rl-black: #000000;
    --rl-blue: #0048ba;
    --rl-blue-90: #eaf6ef;
    --rl-blue-dark: #00004B;
    --rl-blue-midnight: #191970;
    --rl-blue-light: #0e76bc;
    --rl-blue-cornflower: #6495ED;
    --rl-brown: #964b00;
    --rl-brown-dark: #7B3F00;
    --rl-brown-light: #a86a24;
    --rl-brown-lighter: #df8549;
    --rl-brown-camel: #C19A6B;
    --rl-chocolate: #d2691e;
    --rl-coffee: #6f4e37;
    --rl-coffee-black: #4B3621;
    --rl-coffee-creme: #A67B5B;
    --rl-green: #588b29;
    --rl-green-dark: #006400;
    --rl-green-light: #00ff7f;
    --rl-green-lighter: #90ee90;
    --rl-green-lighter2: #ebf5d7;
    --rl-green-fale: #9aada0;
    --rl-green-olive: #808000;
    --rl-lemon-bitter: #CAE00D;
    --rl-lemon-deep: #F5C71A;
    --rl-lemon-curry: #CCA01D;
    --rl-lemon-glacier: #FDFF00;
    --rl-lemon-luis: #E9FF36;
    --rl-lemon-laser: #FFFF66;
    --rl-orange: #ff8000;
    --rl-red: #ff0000;
    --rl-red-dark: #a52a2a;
    --rl-maroon-dark: #800000;
    --rl-yellow: #feb040;
    --rl-yellow-fale: #edd886;
    --rl-yellow-lemon: #FFF44F;
    --rl-gold: #FFD700;
    --rl-grey: #e4ebf2;
    --rl-grey-light: #F1F3F4;
    --rl-grey-lightslate: #778899;



    /* background colors */
    --rl-bg-color-small: var(--rl-white-almost);
    --rl-bg-color-medium: var(--rl-green-olive);
    --rl-bg-color-large: var(--rl-blue-cornflower);
    --rl-bg-head: var(--rl-white2);
    --rl-bg-dropdown: var(--rl-bg-head);
    --rl-bg-main: var(--rl-white2);
    --rl-bg-aside: var(--rl-white2);
    --rl-bg-foot: var(--rl-white2);
    --rl-bg-shadow: var(--rl-gold);

    /* link color and decoration */
    --rl-link-decoration: none;
    --rl-link-focus: none;
    --rl-link: var(--rl-brown-dark);
    --rl-link-active: #edd886;
    --rl-link-hover: var(--rl-coffee-creme);
    --rl-link-visited: var(--rl-coffee-black);
    /* Dropdown nav variables */
    --rl-menu-bg-color: var(--rl-blue-midnight);
    --rl-menu-link-color: var(--rl-gold);
    --rl-menu-accent1-color: var(--rl-lemon-bitter);
    --rl-menu-accent2-color: var(--rl-red-dark);
    --rl-menu-font-color: var(--rl-blue-dark);
}
