@import "styles.css";

body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

/* media queries */
@media screen and (min-width: 60rem) {
    body {
        display: grid;
        grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";

    }
}
/* END media queries */
