.language-switcher {
    position: relative;
}

.language-switcher__button {
    display: flex;

    column-gap: 0.25rem;
    align-items: center;

    padding: 0 0.5rem;
    margin: 0;

    font: inherit;

    color: var(--color-text-blue);

    cursor: pointer;

    background-color: transparent;
    border: none;

    &:is([aria-expanded="true"], :hover) {
        color: var(--color-link-green);
        background-color: var(--bg-hover);
    }

    /* Arrow & Icon */
    &::before,
    &::after {
        width: 1.25rem;
        height: 1.25rem;
        background-color: currentcolor;
        mask-size: cover;
    }

    /* Icon */
    &::before {
        content: "";
        mask-image: url("../Icons/icon/languages.svg");
    }

    /* Arrow */
    &::after {
        content: "";
        mask-image: url("../Icons/icon/chevron-down.svg");
    }

    @media screen and (width <= 62.49rem) {
        > span {
            display: none;
        }
    }
}
.language-switcher__button span::first-letter {
    font-size: max(1.5rem, 1.2vw);
    font-weight: bold;
    font-family: var(--font-family-montecarlo);
    margin-right: 0.1rem;
}

.language-switcher__dropdown {
    position: absolute;
    right: 0;
    z-index: 1;

    width: max-content;

    padding: 0.75rem;
    margin: -1px 0 0;

    background-color: var(--color-background-page);
    border: 1px solid var(--color-border-primary);
}

.language-switcher__list {
    width: 100%;

    padding: 0;
    margin: 0;

    list-style: none;
}

.language-switcher__option {
    display: flex;

    column-gap: 0.25rem;
    align-items: center;

    width: 100%;

    padding: 0.25rem;
    margin: 0;

    font: inherit;

    background-color: transparent;
    border: none;

    &:hover,
    &[data-current] {
        color: var(--color-link-green);
        background-color: var(--bg-hover);
    }
}
