.language-switcher {
    position: relative;
}

.language-switcher__button {
    display: flex;

    column-gap: 0.25rem;
    align-items: center;

    padding: 0 0.5rem;
    margin: 0;

    font: inherit;

    color: inherit;

    cursor: pointer;

    background-color: transparent;
    border: none;

    &:is(:hover, :focus, [aria-expanded="true"]) {
        color: var(--color-text-blue);
        background-color: var(--color-background-gold);
    }
    .language-switcher__button::first-letter {
        font-size: max(1.5rem, 1.2vw);
        font-weight: bold;
        font-family: var(--font-family-montecarlo);
        margin-right: 0.1rem;
    }

    @media screen and (width <= 62.49rem) {
        > span {
            display: none;
        }
    }

    /* Icon */
    &::before {
        width: 1.25rem;
        height: 1.25rem;
        content: "";
        background-color: currentcolor;
        mask-image: url("../Icons/icon/languages.svg");
        mask-size: cover;
    }

    /* Arrow */
    &::after {
        content: "";
        mask-image: url("../Icons/icon/chevron-down.svg");
    }
    &[aria-expanded="true"]::after {
        scale: -1;
    }
}

.language-switcher__dropdown {
    position: absolute;
    right: 0;
    z-index: 1;

    width: max-content;

    padding: 0.75rem;
    margin: 0;
}

.language-switcher__list {
    width: 100%;

    padding: 0;
    margin: 0;

    list-style: none;

    background-color: var(--color-background-primary);
}

.language-switcher__option {
    display: flex;

    column-gap: 0.25rem;
    align-items: center;

    width: 100%;

    padding: 0.25rem;
    margin: 0;

    font: inherit;

    color: var(--color-text-primary);

    text-decoration: none;

    background-color: transparent;
    border: none;

    &:hover,
    &[data-current] {
        background-color: var(--color-background-secondary);
    }
}
