/* link decoration */
a {
    outline-color: transparent;
}

a:link {
    color: var(--rl-link-color);
    text-decoration: var(--rl-link-text-decoration);
}

a:hover {
    color: var(--rl-link-hover);
    text-decoration: var(--rl-link-text-decoration);
}

a:visited {
    color: var(--rl-link-visited-color);
}
