@charset "UTF-8";

@import url("components/font/01-fonts.css");
@import url("components/color/01-colors.css");
@import url("components/development.css");
@import url("components/globals.css");

html {
    min-height: 100vh;
    width: 100%;
    overflow-wrap: break-word;
    scroll-behavior: smooth;
    font-family: sans-serif;
    color-scheme: light dark;
}



