@charset "UTF-8";

html {
    min-height: 100vh;
    width: 100%;
    overflow-wrap: break-word;
    scroll-behavior: smooth;
    font-family: sans-serif;
    color-scheme: light dark;
}

*,
::before,
::after {
    box-sizing: border-box;
}

.skip-link {
    --offset: 20em;
    --outline: 2px;
    left: var(--outline);
    list-style: none;
    margin: 0;
    position: absolute;
    right: var(--outline);
    top: calc(var(--offset)*-1);
    width: calc(100% - var(--outline)*2);
    z-index: 1000;
}

