@charset "UTF-8";

html {
    min-height: 100vh;
    width: 100%;
    overflow-wrap: break-word;
    scroll-behavior: smooth;
    color-scheme: light dark;
}

*,
::before,
::after {
    box-sizing: border-box;
}
body {
    color: CanvasText;
    background-color: Canvas;
    padding: 1rem;

    --theme-oklch: oklch(50% 0.25 var(--hue, 222));
    --theme-hsl: hsl(var(--hue, 222) 75% 50%);
}

body > div {
    margin-block: 1rem 0;
}
div > div {
    display: inline-block;
    width: 2rem;
    height: 1rem;
    border: 1px solid;
}
div.oklch {
    background-color: var(--theme-oklch);
}
div.hsl {
    background-color: var(--theme-hsl);
}

p {
    padding: 1rem;
}
p.oklch {
    color: color-mix(in oklab, CanvasText 75%, var(--theme-oklch));
    background-color: color-mix(in oklab, Canvas 75%, var(--theme-oklch));
}
p.hsl {
    color: color-mix(in oklab, CanvasText 75%, var(--theme-hsl));
    background-color: color-mix(in oklab, Canvas 75%, var(--theme-hsl));
}
