@charset "UTF-8";

@import url("components/font/01-fonts.css");
@import url("components/color/01-colors.css");
@import url("components/development.css");
@import url("components/globals.css");

html {
    min-height: 100vh;
    width: 100%;
    overflow-wrap: break-word;
    scroll-behavior: smooth;
    font-family: sans-serif;
    color-scheme: light dark;
}
body {
    max-width: 97vw;
    margin: 0.5em auto;
    font-size: var(--font-size);
    line-height: var(--font-line-normal);
    font-family: var(--font-family-sans), sans-serif;
    background: var(--color-background-page);
}

.page-layout__header {
    display: grid;
    position: sticky;
    top: 0;
    z-index: var(--z-index-sticky-header);
}

.navigation {
    padding: 0 0.25em;
    background-color: var(--color-background-primary);
}
img.middle {
    margin: 0;
    width: calc(var(--font-size) + 0.35rem);
    padding-right: 0.25rem;
    vertical-align: middle;
}

.breadcrumb-bar {
    align-items: center;
    background-color: var(--color-background-gold);
    border-width: 1px;
    border-bottom: 1px solid var(--color-border-primary);
    border-left: 0 solid var(--color-border-primary);
    border-right: 0 solid var(--color-border-primary);
    border-top: 1px solid var(--color-border-primary);
    column-gap: 1rem;
    display: flex;
    height: var(--breadcrumbs-bar-height);
    justify-content: end;
    max-width: 100vw;
    padding-inline: var(--layout-side-padding);
    text-wrap: nowrap;
}
.breadcrumb {
    align-items: center;
    display: flex;
    justify-content: end;
    list-style: none;
    margin: 0 auto 0 0;
    min-width: 0;
    overflow-x: hidden;
    padding: 2px;
}

.breadcrumb li:not(:last-child)::after {
    content: "/";
    margin-inline: .25rem;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}
.lang-menu__header {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lang-menu__header a {
    padding: 0 0.25em;
    display: block;
}
aside,
main {
    padding: 0.5rem;
}

footer {
    background: var(--color-background-page);
    display: grid;
}
.footer-menu {
    padding: 0.5em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer-menu a {
    padding: 0.25em;
    display: block;
}
.openstreetmap {
    padding: 0.5em;
    text-align: center;
}
.openstreetmap small {
    display: block;
    font-size: 0.8em;
}
.openstreetmap iframe {
    border: 0.125em solid var(--color-border-primary);
    width: 100%; /* takes precedence over the width set with the HTML width attribute */
}
.copyright {
    text-align: center;
}
.copyright p {
    font-size: 0.8em;
}
.copyright img {
    vertical-align: middle;
}
.lang-menu__footer,
.footer-nav,
.copyright {
    font-size: calc(0.8em + 0.25dvw);
}
.active,
.current {
    text-decoration: none;
    color: var(--color-text-blue);
    background-color: var(--color-background-gold);
    a:hover {
        text-decoration: none;
    }
}



