@charset "UTF-8";

:root,
[data-rl-theme=light] {
    color-scheme: light;
    /* colors */
    --rl-white: #ffffff;
    --rl-white2: #fffbf0;
    --rl-white-almost: #ffede0;
    --rl-white-almost2: #EED9C4;
    --rl-black: #000000;
    --rl-blue: #0048ba;
    --rl-blue-90: #eaf6ef;
    --rl-blue-dark: #00004B;
    --rl-blue-midnight: #191970;
    --rl-blue-light: #0e76bc;
    --rl-blue-cornflower: #6495ED;
    --rl-brown: #964b00;
    --rl-brown-dark: #7B3F00;
    --rl-brown-light: #a86a24;
    --rl-brown-lighter: #df8549;
    --rl-brown-camel: #C19A6B;
    --rl-chocolate: #d2691e;
    --rl-coffee: #6f4e37;
    --rl-coffee-black: #4B3621;
    --rl-coffee-creme: #A67B5B;
    --rl-green: #588b29;
    --rl-green-dark: #006400;
    --rl-green-light: #00ff7f;
    --rl-green-lighter: #90ee90;
    --rl-green-lighter2: #ebf5d7;
    --rl-green-fale: #9aada0;
    --rl-green-olive: #808000;
    --rl-lemon-bitter: #CAE00D;
    --rl-lemon-deep: #F5C71A;
    --rl-lemon-curry: #CCA01D;
    --rl-lemon-glacier: #FDFF00;
    --rl-lemon-luis: #E9FF36;
    --rl-lemon-laser: #FFFF66;
    --rl-orange: #ff8000;
    --rl-red: #ff0000;
    --rl-red-dark: #a52a2a;
    --rl-maroon-dark: #800000;
    --rl-yellow: #feb040;
    --rl-yellow-fale: #edd886;
    --rl-yellow-lemon: #FFF44F;
    --rl-gold: #FFD700;
    --rl-grey: #e4ebf2;
    --rl-grey-light: #F1F3F4;
    --rl-grey-lightslate: #778899;

    /* font styles */
    --rl-font-sans-1: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "Noto Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --rl-font-sans-2: "Nimbus Sans", "Liberation Sans", "DejaVu Sans", Helvetica, Arial, sans-serif;
    --rl-font-serif:  "Liberation Serif", "Nimbus Roman No 9 L",  "FreeSerif", "Hoefler Text", Times, "Times New Roman", serif;
    --rl-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --rl-font-size: max(1em, 1vw);
    --rl-font-color: var(--rl-blue-dark);
    --rl-font-p-first: var(--rl-maroon-dark);
    --rl-line-height: 1.5;

    /* background colors */
    --rl-bg-color-small: var(--rl-white-almost);
    --rl-bg-color-medium: var(--rl-green-olive);
    --rl-bg-color-large: var(--rl-blue-cornflower);
    --rl-bg-head: var(--rl-white2);
    --rl-bg-dropdown: var(--rl-bg-head);
    --rl-bg-main: var(--rl-white2);
    --rl-bg-aside: var(--rl-white2);
    --rl-bg-foot: var(--rl-white2);
    --rl-bg-shadow: var(--rl-gold);

    /* link color and decoration */
    --rl-link-decoration: none;
    --rl-link-focus: none;
    --rl-link: var(--rl-brown-dark);
    --rl-link-active: #edd886;
    --rl-link-hover: var(--rl-coffee-creme);
    --rl-link-visited: var(--rl-coffee-black);
    /* Dropdown nav variables */
    --rl-menu-bg-color: var(--rl-blue-midnight);
    --rl-menu-link-color: var(--rl-gold);
    --rl-menu-accent1-color: var(--rl-lemon-bitter);
    --rl-menu-accent2-color: var(--rl-red-dark);
    --rl-menu-font-color: var(--rl-blue-dark);
}

[data-rl-theme=dark] {
    color-scheme: dark;
    --rl-link: #9aada0;
    --rl-link-active: #aebdb3;
    --rl-link-hover: var(--rl-coffee-creme);
    --rl-link-visited:var(--rl-green-fale);
    --rl-bg-color: var(--rl-blue-dark);
    --rl-font-color: var(--rl-white-almost);
}

[data-rl-theme=coffee] {
    color-scheme: coffee;
    --rl-link: #deb887;
    --rl-link-active: #f0ffff;
    --rl-link-hover: #D2691E;
    --rl-link-visited: var(--rl-coffee);
    --rl-bg-color: rgb(var(--rl-brown-dark));
    --rl-font-color: var(--rl-white-almost2);
}

/*
### styling responsive
###  - with css grid and flexbox
###  - using @media queries
*/
/*
*** Global styles
 */
html {
    min-height: 100vh;
    width: 100%;
}

* {
    box-sizing: border-box;
}
body {
    max-width: 97vw;
    margin: 0.5em auto;
    font: var(--rl-font-size)/var(--rl-line-height) var(--rl-font-sans-2);
    color: var(--rl-font-color);
    background: var(--rl-bg-color-small);
    display: grid;
}
h1 {
    letter-spacing: 0.015em;
    font-size: clamp(1.4em, 2.5vw, 2.8em);
    text-align: center;
    font-family: "Chewy", system-ui;
}
h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}

p {
    line-height: 1.5;
    font-size: max(1.2em, 1.2vw);
}
ul {
    list-style: none;
}

img,picture,video {
    max-width: 100%;
    height: auto;
}

.header-wrapper,
main,
aside,
footer {
    padding: 0 0.25em;
}

aside {
    background: var(--rl-bg-aside);
}

main {
    background: var(--rl-bg-main);
}

.breadcrumb,
footer {
    background: var(--rl-bg-foot);
}

.header-wrapper {
    background: var(--rl-bg-head);
    display: grid;
}
.brand {
    align-items: center;
}
img.middle {
    margin: 0;
    width: calc(var(--rl-font-size) + 0.35rem);
    padding-right: 0.25rem;
    vertical-align: middle;
}
h1.site-name {
    text-shadow: 0.1em 0.1em 0.1em var(--rl-bg-shadow);
}
.search {
    padding-left: 0.25em;
    display: flex;
    align-items: center;
}
.lang-menu {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lang-menu a {
    padding: 0.25em;
    display: block;
}

.breadcrumb {
    padding: 0.25em;
    font-size: 0.9em;
}
.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: end;
}

.breadcrumb a {
    text-decoration: none;
}

.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 0.25rem;
    content: ">";
}

p::first-letter {
    color: var(--rl-font-p-first);
    font-size: calc(2rem + 0.125vw);
    font-weight: bold;
    font-family: "Imperial Script", "Edwardian Script ITC", cursive;
}
footer {
    display: grid;
}
.footer-menu {
    padding: 0.5em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer-menu a {
    padding: 0.25em;
    display: block;
}
.openstreetmap {
    padding: 0.5em;
    text-align: center;
}
.openstreetmap small {
    display: block;
    font-size: 0.8em;
}
.openstreetmap iframe {
    border: 0.125em solid var(--rl-blue-dark);
    width: 100%; /* takes precedence over the width set with the HTML width attribute */
}

.copyright {
    text-align: center;
}
.copyright p {
    font-size: 0.8em;
}
.copyright img {
    vertical-align: middle;
}

.lang-menu,
.footer-nav,
.copyright {
    font-size: calc(0.8em + 0.25dvw);
}

/* Dropdown navbar START */
.dont-render-dawg {
    position: absolute;
    height: 0;
    width: 0;
}
.navbar-main {
    background: var(--rl-bg-dropdown);
}
.navbar-main > ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.navbar-main ul {
    position:relative;
     font-size: 0.95em;
 }
.navbar-main li {
    margin: 0.15em;
    padding: 0;
    flex: 1 1 0;
    position: relative;
}
.navbar-main a {
    display: block;
    padding: 0.25em;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    transition: all .25s ease-in;
    position: relative;
}

/*.navbar-main li[aria-current] a {
    background-color: var(--rl-menu-accent2-color);
    color: var(--rl-menu-accent1-color);
}*/

.navbar-main a:focus,
.navbar-main a:hover,
.navbar-main li[aria-current] a:focus,
.navbar-main li[aria-current] a:hover {
    color: var(--rl-menu-bg-color);
    background-color: var(--rl-menu-accent1-color);
}
/*     submenu navigation links      */
.navbar-main ul ul {
    visibility: hidden;
    height: 0;
    z-index: 1000;
}

.navbar-main ul ul ul {
    position: absolute;
    right: 2.5em;
    top: 0.5em;
}
.navbar-main ul ul ul li {
    width: 30em;
}

.navbar-main ul li {
    display: block;
}
.navbar-main li div.subnav-title {
    display: flex;
}
.navbar-main li button {
    border: none;
}
.navbar-main li button:hover {
    color: var(--rl-menu-bg-color);
    background-color: var(--rl-menu-accent1-color);
}
.navbar-main li:hover > ul {
      visibility: visible;
      height: auto;
  }
.navbar-main li button:hover ~ ul {
    visibility: hidden;
    height: 0;
}
.navbar-main li button:hover ~ ul.visible,
.visible  {
    visibility: visible;
    height: auto;
}
[aria-expanded] {
    width:auto;
    height:auto;
    padding: 0;
    color: var(--rl-bg-dropdown);
    background: var(--rl-menu-bg-color);
    outline:transparent;
}

[aria-expanded] svg {
    pointer-events: none;
    height: auto;
    width: 2em;
    vertical-align: middle;
    fill: var(--rl-bg-dropdown);
    z-index:10;
}

/*
.navbar-main li:hover [aria-expanded] svg {
    background: var(--rl-menu-accent1-color);
    fill: var(--rl-menu-bg-color);
}

.navbar-main li:focus [aria-expanded] svg {
    background: var(--rl-menu-accent2-color);
    fill: var(--rl-menu-accent1-color);
}
*/

[aria-expanded]:focus svg,
[aria-expanded]:hover svg {
    fill: var(--rl-menu-accent2-color);
    background: var(--rl-menu-accent1-color);

}

[aria-expanded="true"] svg {
    transform: translate(0,0) rotate(180deg);
}
.visually-hidden,
[visually-hidden="true"] {
    position: absolute !important;
    /*clip-path: rect(1px, 1px, 1px, 1px) !important;*/
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden !important;
}

/*     Show the submenu on hover, but not when nav li button:hover    */
/*
[aria-expanded] {
    position: absolute;
    right: 0.5em;
    top: 0.3em;
    width:2em;
    height:2em;
    padding: 0;
    color: var(--rl-menu-accent1-color);
    background: var(--rl-menu-bg-color); !* damit er bei nav a:focus noch sichtbar ist *!
    outline:transparent;
    border: thin solid var(--rl-menu-bg-color);
    border-radius: 0.3em;

}

[aria-expanded] svg {
    pointer-events: none;
    fill: var(--accent1-color);
    border-radius: 0.3em;
    z-index:10;
}

.navbar-main li:hover [aria-expanded] svg {
    background: var(--rl-menu-accent1-color);
    fill: var(--rl-menu-bg-color);
}

.navbar-main li:focus [aria-expanded] svg {
    background: var(--rl-menu-bg-color);
    fill: var(--rl-menu-accent1-color);
}

[aria-expanded]:focus svg,
[aria-expanded]:hover svg{
    fill: var(--rl-menu-bg-color);
    background: var(--accent1-color);

}

[aria-expanded="true"] svg {
    transform: translate(0,0) rotate(90deg);
}
*/
/* Dropdown navbar END */

/* media queries equal or larger than 70rem */
@media (min-width: 70rem) {
    body {
        max-width: 90vw;
        background: var(--rl-bg-color-large);
        grid-template-columns: minmax(min-content, max-content) auto minmax(
        min-content,
        max-content
      );
    }

    .sticky-header,
    nav,
    .content-wrapper,
    footer {
        grid-column: 1 / -1;
    }

    /* Dropdown navbar START */
    .navbar-main > ul {
        flex-direction: row;
        height: 3em;
    }
    .navbar-main li {
        flex: 1;
        flex-basis: auto;
        flex-shrink: 0;
    }
    /* Dropdown navbar END */

    .content-wrapper {
        display: flex;
    }

    .content-wrapper > * {
        flex: 1;
    }
    .content-wrapper > main {
        flex-grow: 3;
        border-right: 0.1rem solid var(--rl-bg-color-large);
        border-left: 0.1rem solid var(--rl-bg-color-large);
    }
}

/* media between 45rem and 69.99rem */
@media (min-width: 45rem) and (max-width: 69.99rem) {
    /* Breite beträgt mindestens 45rem */
    body {
        background: var(--rl-bg-color-medium);
        grid-template-columns: minmax(min-content, max-content) auto minmax(
        min-content,
        max-content
      );
    }

    .sticky-header,
    nav,
    .content-wrapper,
    footer {
        grid-column: 1 / -1;
    }

    /* Dropdown navbar START */
    /* Dropdown navbar END */

    .content-wrapper {
        display: flex;
    }

    .content-wrapper > * {
        flex: 1;
    }
    .content-wrapper > main {
        flex-grow: 3;
        border-right: 0.1rem solid var(--rl-bg-color-medium);
        border-left: 0.1rem solid var(--rl-bg-color-medium);
    }
}

kbd {
    background: #f9f9f9 linear-gradient(to bottom, #eee, #f9f9f9, #eee) repeat scroll 0 0;
    border: thin solid #aaa;
    border-radius: 2px;
    box-shadow: 1px 2px 2px #ddd;
    font-family: inherit;
    font-size: 0.9em;
    padding: 0 0.5em;
}
