@charset "UTF-8";
/* Color */

@import url("imports/colors/border.css");
@import url("imports/colors/background.css");
@import url("imports/colors/text.css");
@import url("imports/colors/link.css");
@import url("imports/colors/scrollbar.css");
@import url("imports/colors/area.css");


/* Basic */

:root {
    --color-white: hsl(0deg 0% 100%);
    --color-white-alpha-25: hsl(0deg 0% 100% / 25%);
    --color-white-alpha-75: hsl(0deg 0% 100% / 75%);

    --color-black: hsl(0deg 0% 0%);
    --color-black-alpha-25: hsl(0deg 0% 0% / 25%);
    --color-black-alpha-75: hsl(0deg 0% 0% / 75%);
}

/* Gray */

:root {
    --color-gray-90: hsl(212deg 7% 97%);
    --color-gray-80: hsl(212deg 7% 93.5%);
    --color-gray-60: hsl(212deg 7% 78%);
    --color-gray-40: hsl(212deg 7% 34%);
    --color-gray-20: hsl(212deg 7% 19%);
    --color-gray-10: hsl(212deg 7% 14%);
    --color-gray-05: hsl(212deg 7% 10%);
}

/* Tinted */

:root {
    --color-red-90: hsl(350deg 100% 95%);
    --color-red-80: hsl(350deg 96% 74%);
    --color-red-50: hsl(350deg 84% 45%);
    --color-red-20: hsl(350deg 84% 39%);
    --color-red-10: hsl(350deg 74% 17%);

    --color-orange-90: hsl(25deg 92% 96%);
    --color-orange-80: hsl(25deg 99% 78%);
    --color-orange-50: hsl(25deg 76% 53%);
    --color-orange-20: hsl(25deg 90% 40%);
    --color-orange-10: hsl(25deg 65% 15%);

    --color-yellow-90: hsl(46deg 97% 88%);
    --color-yellow-80: hsl(46deg 90% 80%);
    --color-yellow-50: hsl(46deg 92% 47%);
    --color-yellow-20: hsl(46deg 85% 32%);
    --color-yellow-10: hsl(46deg 90% 18%);

    --color-green-90: hsl(145deg 40% 94%);
    --color-green-80: hsl(145deg 75% 68%);
    --color-green-50: hsl(145deg 90% 30%);
    --color-green-20: hsl(145deg 88% 19%);
    --color-green-10: hsl(145deg 60% 12%);

    --color-blue-90: hsl(212deg 91% 96%);
    --color-blue-80: hsl(212deg 98% 82%);
    --color-blue-50: hsl(212deg 90% 39%);
    --color-blue-20: hsl(212deg 95% 32%);
    --color-blue-10: hsl(212deg 82% 15%);

    --color-purple-90: hsl(267deg 99% 97%);
    --color-purple-80: hsl(267deg 99% 86%);
    --color-purple-50: hsl(267deg 76% 56%);
    --color-purple-20: hsl(267deg 70% 40%);
    --color-purple-10: hsl(267deg 65% 16%);
}
/* --layout-side-padding-min * 2 + (--layout-sidebar-min + --layout-sidebar-gap) * 2 + --layout-content-min */

/* --layout-side-padding-min * 2 + --layout-sidebar-min + --layout-sidebar-gap + --layout-content-min */

:root {
    --layout-side-padding-min: 1rem;
    --layout-side-padding: max(
        var(--layout-side-padding-min),
        calc((100vw - 1440px + (2rem)) / 2)
    );
}
/* Font size */
:root {
    --font-line-content: 1.75;
    --font-line-normal: 1.5;
    --font-line-ui: 1;

    --font-size-largest: 2.5rem;
    --font-size-larger: 2rem;
    --font-size-large: 1.5rem;
    --font-size-normal: 1rem;
    --font-size-small: 0.8rem;

    --font-weight-normal: 400;
    --font-weight-bold: 600;
}


/*
### styling responsive
###  - with css grid and flexbox
###  - using @media queries
*/
/*
*** Global styles
 */
html {
    min-height: 100vh;
    width: 100%;
}

*,
::before,
::after {
    box-sizing: border-box;
}
body {
    max-width: 97vw;
    margin: 0.5em auto;
    font: var(--rl-font-size)/var(--rl-line-height) var(--rl-font-sans-2);
    color: var(--rl-font-color);
    background: var(--rl-bg-color-small);
    display: grid;
}
h1 {
    letter-spacing: 0.015em;
    font-size: clamp(1.4em, 2.5vw, 2.8em);
    text-align: center;
    font-family: "Chewy", system-ui;
}
h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}

p {
    line-height: 1.5;
    font-size: max(1.2em, 1.2vw);
}
ul {
    list-style: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    color: inherit;
    cursor: pointer;
}
img,picture,video {
    max-width: 100%;
    height: auto;
}
a {
    color: var(--color-link-normal);
}

[hidden] {
    display: none !important;
}

.page-layout__header,
main,
aside,
footer {
    padding: 0 0.25em;
}

aside {
    background: var(--rl-bg-aside);
}

main {
    background: var(--rl-bg-main);
}

.breadcrumb-bar,
footer {
    background: var(--rl-bg-foot);
}

.page-layout__header {
    background: var(--rl-bg-head);
    display: grid;
}
.navigation__logo {
    align-items: center;
}
img.middle {
    margin: 0;
    width: calc(var(--rl-font-size) + 0.35rem);
    padding-right: 0.25rem;
    vertical-align: middle;
}
h1.site-name {
    text-shadow: 0.1em 0.1em 0.1em var(--rl-bg-shadow);
}
.search {
    padding-left: 0.25em;
    display: flex;
    align-items: center;
}
.lang-menu {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lang-menu a {
    padding: 0.25em;
    display: block;
}

.breadcrumb-bar {
    padding: 0.25em;
    font-size: 0.9em;
}
.breadcrumb-bar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: end;
}

.breadcrumb-bar a {
    text-decoration: none;
}

.breadcrumb-bar li:not(:last-child)::after {
    display: inline-block;
    margin: 0 0.25rem;
    content: ">";
}

p::first-letter {
    color: var(--rl-font-p-first);
    font-size: calc(2rem + 0.125vw);
    font-weight: bold;
    font-family: "Imperial Script", "Edwardian Script ITC", cursive;
}
footer {
    display: grid;
}
.footer-menu {
    padding: 0.5em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer-menu a {
    padding: 0.25em;
    display: block;
}
.openstreetmap {
    padding: 0.5em;
    text-align: center;
}
.openstreetmap small {
    display: block;
    font-size: 0.8em;
}
.openstreetmap iframe {
    border: 0.125em solid var(--rl-blue-dark);
    width: 100%; /* takes precedence over the width set with the HTML width attribute */
}

.copyright {
    text-align: center;
}
.copyright p {
    font-size: 0.8em;
}
.copyright img {
    vertical-align: middle;
}

.lang-menu,
.footer-nav,
.copyright {
    font-size: calc(0.8em + 0.25dvw);
}

/* Dropdown menu navbar START */
/* Navigation */
/* Base */

/* Tab */

.menu__tab {
    --menu-tab-background: var(--color-background-blue);
    --menu-tab-text: var(--color-text-blue);
}

/* Tab Button */

.menu__tab-button {
    margin: 0;

    font: inherit;

    line-height: var(--font-line-ui);

    color: var(--color-text-primary);

    white-space: nowrap;

    cursor: pointer;

    background-color: transparent;

    &:is([aria-expanded="true"], :hover) {
        color: var(--menu-tab-text);
        background-color: var(--menu-tab-background);
    }

    /* Arrow & Icon */

    &::before,
    &::after {
        width: 1.25rem;
        height: 1.25rem;

        background-color: currentcolor;

        mask-size: cover;
    }

    /* Arrow */

    &::after {
        content: "";
        mask-image: url("../Icons/icon/chevron-down.svg");
    }

    &[aria-expanded="true"]::after {
        scale: -1;
    }
}

/* Tab Link */

.menu__tab-link {
    /* Custom, to match the icon height */
    line-height: 1.25rem;
    color: var(--color-text-primary);

    &:hover {
        color: var(--menu-tab-text);
        background-color: var(--menu-tab-background);
    }
}

/* Panel */

.menu__panel-title {
    padding: 0.125rem 1.4rem;
    margin: 0;
    a {
        color: inherit;
    }
}

.navigation {
    background-color: var(--color-background-page);

    &[data-scheme="dark"] {
        color: var(--color-text-primary);
        color-scheme: dark;
    }
}
/* Dropdown navbar END */

/* media queries equal or larger than 70rem */
@media (width > 62.5rem) {
    :root {
        --navigation-height: 4.125rem;
    }
    body {
        max-width: 90vw;
        background: var(--rl-bg-color-large);
        grid-template-columns: minmax(min-content, max-content) auto minmax(
        min-content,
        max-content
      );
    }

    .page-layout__header,
    nav,
    .content-wrapper,
    footer {
        grid-column: 1 / -1;
    }

    /* Dropdown navbar START */
    .menu {
        --menu-button-padding: 0.5rem 0.7rem;

        position: relative;
        display: flex;
        align-items: center;
        column-gap: 1.25rem;
    }

    /* Button */
    .menu__tab-button {
        display: flex;

        column-gap: 0.125rem;
        align-items: center;

        padding: var(--menu-button-padding);

        border: 1px solid transparent;
        border-bottom: none;
    }

    .menu__tab-button[aria-expanded="true"] {
        position: relative;
        z-index: 1;
    }

    /* Arrow */
    .menu__tab-button::after {
        margin-right: -4px;
    }

    /* Link */
    .menu__tab-link {
        padding: 0 0.7rem;
    }

    /* Label */
    .menu__tab-label[data-type="short"] {
        display: none;
    }

    /* Panel */
    .menu__panel {
        position: absolute;
        right: 0;
        left: 0;
        z-index: 1; /* prevents menu foldout to be drawn below language chooser */

        margin-top: -1px;

        background-color: var(--color-background-page);
        border: 1px solid var(--color-border-primary);
    }

    .menu__panel ul {
        margin: 0;
        padding: 0;
    }

    /* Title */
    .menu__panel-title {
        color: var(--menu-tab-text);
        background-color: var(--menu-tab-background);
    }

    .navigation {
        display: grid;

        grid-template-columns: min-content 1fr min-content min-content;

        column-gap: 1rem;
        align-items: center;
        justify-items: center;

        height: var(--navigation-height);

        padding-block: 0.75rem;
        padding-inline: var(--layout-side-padding);
    }
    /* Popup */
    .navigation__popup {
        display: contents;
    }
    /* Button */
    .navigation__button {
        display: none;
    }
    /* Dropdown navbar END */

    .content-wrapper {
        display: flex;
    }

    .content-wrapper > * {
        flex: 1;
    }
    .content-wrapper > main {
        flex-grow: 3;
        border-right: 0.1rem solid var(--rl-bg-color-large);
        border-left: 0.1rem solid var(--rl-bg-color-large);
    }
}

/* media between 45rem and 69.99rem */
@media (min-width: 45rem) and (width <= 62.49rem) {
    /* Breite beträgt mindestens 45rem */
    body {
        background: var(--rl-bg-color-medium);
        grid-template-columns: minmax(min-content, max-content) auto minmax(
        min-content,
        max-content
      );
    }

    .page-layout__header,
    .content-wrapper,
    footer {
        grid-column: 1 / -1;
    }

    /* Dropdown navbar START */
    /* Dropdown navbar END */

    .content-wrapper {
        display: flex;
    }

    .content-wrapper > * {
        flex: 1;
    }
    .content-wrapper > main {
        flex-grow: 3;
        border-right: 0.1rem solid var(--rl-bg-color-medium);
        border-left: 0.1rem solid var(--rl-bg-color-medium);
    }
}


/* media width equal or lower than 69.99rem */
@media (width <= 62.49rem) {
    :root {
        --navigation-height: 2.9rem;
    }

    .navigation {
        display: grid;

        grid-template-columns: 1fr min-content min-content;

        column-gap: 0.25rem;
        align-items: center;
        justify-items: start;

        height: var(--navigation-height);

        &[data-open="true"] {
            position: fixed;
            inset: 0;
            z-index: 2;

            align-content: start;

            height: auto;

            overflow-y: auto;
        }
    }

    /* Popup */

    .navigation__popup {
        display: none;
        grid-column: 1 / -1;
        justify-self: stretch;
    }

    .navigation[data-open="true"] .navigation__popup {
        display: block;
    }
    /* Button */

    .navigation__button {
        padding: 0.7rem;
        margin: 0;

        cursor: pointer;
        outline-offset: -2px;

        background-color: transparent;
        border: none;

        &:hover {
            background-color: var(--color-background-secondary);
        }

        &::before {
            display: block;

            width: 1.5rem;
            height: 1.5rem;

            content: "";

            background-color: currentcolor;

            mask-size: cover;
        }

        &[aria-expanded="true"]::before {
            mask-image: url("../Icons/icon/cancel.svg");
        }

        &[aria-expanded="false"]::before {
            mask-image: url("../Icons/icon/menu.svg");
        }
    }
}

:root {
    /* colors */
    --rl-white: #ffffff;
    --rl-white2: #fffbf0;
    --rl-white-almost: #ffede0;
    --rl-white-almost2: #EED9C4;
    --rl-black: #000000;
    --rl-blue: #0048ba;
    --rl-blue-90: #eaf6ef;
    --rl-blue-dark: #00004B;
    --rl-blue-midnight: #191970;
    --rl-blue-light: #0e76bc;
    --rl-blue-cornflower: #6495ED;
    --rl-brown: #964b00;
    --rl-brown-dark: #7B3F00;
    --rl-brown-light: #a86a24;
    --rl-brown-lighter: #df8549;
    --rl-brown-camel: #C19A6B;
    --rl-chocolate: #d2691e;
    --rl-coffee: #6f4e37;
    --rl-coffee-black: #4B3621;
    --rl-coffee-creme: #A67B5B;
    --rl-green: #588b29;
    --rl-green-dark: #006400;
    --rl-green-light: #00ff7f;
    --rl-green-lighter: #90ee90;
    --rl-green-lighter2: #ebf5d7;
    --rl-green-fale: #9aada0;
    --rl-green-olive: #808000;
    --rl-lemon-bitter: #CAE00D;
    --rl-lemon-deep: #F5C71A;
    --rl-lemon-curry: #CCA01D;
    --rl-lemon-glacier: #FDFF00;
    --rl-lemon-luis: #E9FF36;
    --rl-lemon-laser: #FFFF66;
    --rl-orange: #ff8000;
    --rl-red: #ff0000;
    --rl-red-dark: #a52a2a;
    --rl-maroon-dark: #800000;
    --rl-yellow: #feb040;
    --rl-yellow-fale: #edd886;
    --rl-yellow-lemon: #FFF44F;
    --rl-gold: #FFD700;
    --rl-grey: #e4ebf2;
    --rl-grey-light: #F1F3F4;
    --rl-grey-lightslate: #778899;

    /* font styles */
    --rl-font-sans-1: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "Noto Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --rl-font-sans-2: "Nimbus Sans", "Liberation Sans", "DejaVu Sans", Helvetica, Arial, sans-serif;
    --rl-font-serif:  "Liberation Serif", "Nimbus Roman No 9 L",  "FreeSerif", "Hoefler Text", Times, "Times New Roman", serif;
    --rl-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --rl-font-size: max(1em, 1vw);
    --rl-font-color: var(--rl-blue-dark);
    --rl-font-p-first: var(--rl-maroon-dark);
    --rl-line-height: 1.5;

    /* background colors */
    --rl-bg-color-small: var(--rl-white-almost);
    --rl-bg-color-medium: var(--rl-green-olive);
    --rl-bg-color-large: var(--rl-blue-cornflower);
    --rl-bg-head: var(--rl-white2);
    --rl-bg-dropdown: var(--rl-bg-head);
    --rl-bg-main: var(--rl-white2);
    --rl-bg-aside: var(--rl-white2);
    --rl-bg-foot: var(--rl-white2);
    --rl-bg-shadow: var(--rl-gold);

    /* link color and decoration */
    --rl-link-decoration: none;
    --rl-link-focus: none;
    --rl-link: var(--rl-brown-dark);
    --rl-link-active: #edd886;
    --rl-link-hover: var(--rl-coffee-creme);
    --rl-link-visited: var(--rl-coffee-black);
    /* Dropdown nav variables */
    --rl-menu-bg-color: var(--rl-blue-midnight);
    --rl-menu-link-color: var(--rl-gold);
    --rl-menu-accent1-color: var(--rl-lemon-bitter);
    --rl-menu-accent2-color: var(--rl-red-dark);
    --rl-menu-font-color: var(--rl-blue-dark);
}
[data-theme=light] {
    color-scheme: light;
}

[data-theme=dark] {
    color-scheme: dark;
}

[data-theme=coffee] {
    color-scheme: coffee;
}
