body {
    display: grid;
    grid-template-areas:
        "header"
        "aside"
        "main"
        "footer";
}

/* media queries */
@media screen and (min-width: 60rem) {
    body {
        display: grid;
        grid-template-columns: 25vw auto 25vw;
        grid-template-areas:
      "header header header"
      "main main aside"
      "footer footer footer";
    }
}
/* END media queries */
