/* GLOBAL layout settings */
body {
    display: grid;
    grid-template-areas:
        "header"
        "aside"
        "main"
        "footer";
}

/* grid areas */
header.page-header {
    grid-area: header;
}
main {
    grid-area: main;
    display: block;
}
aside {
    grid-area: aside;
    background-color: var(--rl-brown-lighter);
    border-right: 1px solid var(--rl-brown-light);
}
footer {
    grid-area: footer;
    font-size: 0.9rem;
    background-color: var(--rl-brown-camel);
    display: grid;
    margin-top: 0.5em;
}
/* media queries */
@media screen and (min-width: 60rem) {
    body {
        grid-template-columns: 12em auto 1fr;
        grid-template-areas:
      "header header header"
      "main main aside"
      "footer footer footer";
    }
}
/* END media queries */
