/* GLOBAL layout settings */
body {
    background-color: var(--rl-body-background);
    margin: 0 auto;
    font-family: var(--rl-body-font-family), sans-serif;
    font-weight: var(--rl-body-font-weight);
    line-height: var(--rl-body-line-height);
    font-size: var(--rl-body-font-size);
    color: var(--rl-body-color);
    display: grid;
    grid-template-areas:
        "header"
        "aside"
        "main"
        "footer";
}

/* media queries */
@media screen and (min-width: 60rem) {
    body {
        max-width: 100em;
        grid-template-columns: 12em auto 1fr;
        grid-template-areas:
      "header header header"
      "aside main main"
      "footer footer footer";
    }
}
/* END media queries */
