@import "styles.css";

body {
    display: grid;
    grid-template-areas:
        "header"
        "aside"
        "main"
        "footer";
}

/* media queries */
@media screen and (min-width: 60rem) {
    body {
        display: grid;
        grid-template-columns: 12em auto 1fr;
        grid-template-areas:
      "header header header"
      "aside main main"
      "footer footer footer";
    }
}
/* END media queries */
