@charset "UTF-8";
/*
### styling responsive
###  - with css grid and flexbox
###  - using @media queries
*/
:root,
[data-rl-theme=light] {
    color-scheme: light;
    /* colors */
    --rl-white: #ffffff;
    --rl-white-almost: #FAEBD7;
    --rl-white-almost2: #EED9C4;
    --rl-black: #000000;
    --rl-blue: #0048ba;
    --rl-blue-dark: #00004B;
    --rl-blue-light: #0e76bc;
    --rl-blue-lighter: #34a2da;
    --rl-brown: #964b00;
    --rl-brown-dark: #7B3F00;
    --rl-brown-light: #a86a24;
    --rl-brown-lighter: #df8549;
    --rl-brown-camel: #C19A6B;
    --rl-chocolate: #d2691e;
    --rl-coffee: #6f4e37;
    --rl-coffee-black: #4B3621;
    --rl-coffee-creme: #A67B5B;
    --rl-green: #588b29;
    --rl-green-dark: #006400;
    --rl-green-light: #00ff7f;
    --rl-green-lighter: #90ee90;
    --rl-green-fale: #9aada0;
    --rl-orange: #ff8000;
    --rl-red: #ff0000;
    --rl-red-dark: #a52a2a;
    --rl-yellow: #feb040;
    --rl-yellow-fale: #edd886;
    /* font styles */
    --rl-font-sans: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "Noto Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --rl-font-serif:  "Liberation Serif", "Nimbus Roman No 9 L",  "FreeSerif", "Hoefler Text", Times, "Times New Roman", serif;
    --rl-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --rl-font-size: max(1rem, 1vw);
    --rl-line-height: 1.5;
    --rl-bg-color: var(--rl-white-almost);
    --rl-text-color: var(--rl-blue-dark);
    /* link color and decoration */
    --rl-link-decoration: none;
    --rl-link-focus: none;
    --rl-link-active-color: #edd886;
    --rl-link-hover-color: #ff0000;
    --rl-link-visited-color: #0e76bc;
    /* viewport break points - responsive */
}

[data-rl-theme=dark] {
    color-scheme: dark;
    --rl-link-color: #9aada0;
    --rl-link-active-color: #aebdb3;
    --rl-link-hover-color: #aebdb3;
    --rl-link-visited-color:var(--rl-green-fale);
    --rl-bg-color: var(--rl-blue-dark);
    --rl-text-color: var(--rl-white-almost);
}

[data-rl-theme=coffee] {
    color-scheme: coffee;
    --rl-link-color: #deb887;
    --rl-link-active-color: #f0ffff;
    --rl-link-hover-color: #D2691E;
    --rl-link-visited-color: var(--rl-coffee);
    --rl-bg-color: rgb(var(--rl-brown-dark));
    --rl-text-color: var(--rl-white-almost2);
}

/* grid areas */
.sticky-header {
    grid-area: header;
}
main {
    grid-area: main;
}
aside {
    grid-area: aside;
}
footer {
    grid-area: footer;
}

html {
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}
body {
    background: var(--rl-bg-color);
    margin: 0 auto;
    font: var(--rl-font-size)/var(--rl-line-height) var(--rl-font-sans);
    color: var(--rl-text-color);
    min-height: 100vh;
    /*width: min(100vw, calc(95%));*/
    /*width: min(1000px, calc(75% + 100px));*/
    width: min(1260px, calc(70% + 100px));
}

h1 {
     letter-spacing: 2px;
     font-size: clamp(1.4rem, 2.5vw, 2.8rem);
 }

p {
    line-height: 1.5;
    font-size: max(1.2rem, 1.2vw);
}
.wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";
}
.header-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.site-name {
    grid-column: auto;
    background: #888888;
}

.logo img {
    margin: 0;
    padding-right: 0.15rem;
    vertical-align: middle;
}
.lang-menu {
    grid-column: auto;
    justify-self: center;
}
.lang-menu li {
    list-style: none;
    display: inline-block;
    padding: 0 1rem;
    background: #feb040;
}
.search {
    grid-column: auto;
    justify-self: end;
}

