:root {
    --rl-font-sans-serif: system-ui, -apple-system, "Trebuchet MS", Helvetica, Arial, sans-serif;
    --rl-link-decoration: none;
    --rl-body-font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    --rl-body-font-size: 1.2rem;
    --rl-body-font-weight: 400;
    --rl-body-line-height: 1.5;
}

[data-rl-theme="light"] {
    color-scheme: light;
    --rl-body-font-family: var(--rl-body-font-family);
    --rl-link-decoration: underline;
    --rl-body-color: #FAEBD7;
    --rl-body-color-rgb: rgb(250, 235, 215);
    --rl-body-font-color: #6F4E37;
    --rl-link-color: #577760;
    --rl-link-color-rgb: rgb(87, 119, 96);;
    --rl-link-hover-color: #465f4d;
    --rl-link-hover-color-rgb: rgb(70, 95, 77);
    --rl-bg-color: var(--rl-body-color);
    --rl-bg-color-rgb: var(--rl-body-color-rgb);
}

[data-rl-theme="dark"] {
    color-scheme: dark;
    --rl-body-color: #00004B;
    --rl-body-color-rgb: rgb(0, 0, 75);
    --rl-body-font-color: #FAEBD7;
    --rl-body-font-color-rgb: rgb(250, 235, 215);
    --rl-link-color: #9aada0;
    --rl-link-color-rgb: rgb(154, 173, 160);
    --rl-link-hover-color: #aebdb3;
    --rl-link-hover-color-rgb: rgb(174, 189, 179);
}

[data-rl-theme="coffee"] {
    color-scheme: coffee;
    --rl-body-font-family: var(--rl-font-sans-serif);
    --rl-body-font-color: #EED9C4;
    --rl-body-color: #6f4e37;
    --rl-body-color-rgb: rgb(111, 78, 55);
    --rl-link-color: #deb887;
    --rl-link-color-rgb: rgb(222, 184, 135);
    --rl-link-hover-color: #f0ffff;
    --rl-link-hover-color-rgb: rgb(240, 255, 255);
    --rl-bg-color: #D2691E;
    --rl-bg-color-rgb: rgb(210, 105, 30);
}

html {
    box-sizing: border-box;
    font-size: var(--rl-body-font-size);
    padding: 0;
    margin: 0;
    background: rgb(53, 41, 37) url("../Images/Logos/rl-logo-inverted.svg");
    background-size: 3px;
}

*,
::before,
::after {
    box-sizing: inherit;
}

/* GLOBAL layout settings */
body {
    background: var(--rl-body-color);
    margin: 0 auto;
    font-family: var(--rl-body-font-family);
    color: var(--rl-body-font-color);
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "aside"
        "footer";
}

/* grid areas */
header {
    grid-area: header;
}
main {
    grid-area: main;
    display: block;
}
aside {
    grid-area: aside;
}
footer {
    grid-area: footer;
}

/* START basic layout settings */
img,
picture,
video {
    max-width: 100%;
}
ul {
    padding-left: 0;
    margin: 0;
}
li {
    list-style: none;
}
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    background-color: inherit;
    color: inherit;
}

aside,
header.page-header,
main,
footer {
    position: relative;
    margin: 0;
    padding: 0 1em 0 1em;
}

header.page-header,
footer {
    background-color: var(--rl-bg-color);
}

/* header#header grid areas */
.logo {
    grid-area: logo;
}
.site-name {
    grid-area: site-name;
}
.site-description {
    grid-area: description;
}
.main-nav {
    grid-area: main-nav;
}
.search {
    grid-area: search;
}
header.page-header {
    display: grid;
    grid-template-areas:
    "logo"
    "site-name"
    "description"
    "main-nav"
    "search";
}
.logo img {
    width: 2.5em;
    margin: 0;
}
header.page-header h1,
header.page-header p {
    margin: 0;
    padding: 0;
    font-size: max(min(1vh, 1rem), 3vh, 1.5rem);
    text-shadow: 3px 2px 2px rgb(88, 139, 41);
}
header.page-header p {
    font-size: max(min(1vh, 1rem), 2vh, 1.25rem);
}
.main-nav {
    display: flex;
    gap: 0 0.25em;
    justify-content: space-between;
}
.main-nav ul {
    flex: auto initial;
}
.main-menu {
    font-size: 1.2em;
}
.main-menu a,
.lang-menu a {
    text-decoration: none;
    padding: 0.25em;
    display: block;
}
.lang-menu {
    flex-direction: column;
}
.search {
    padding-left: 0.25em;
}

footer {
    display: flex;
    flex-direction: column;
    flex: auto initial;
    /* grid-template-areas:
      "location"
      "copy"; */
    /* align-items: center; */
}

/* media queries */
@media screen and (min-width: 60rem) {
    body {
        max-width: 100em;
        grid-template-columns: 12em auto 1fr;
        grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";
    }
    aside {
        background-color: #a86a24;
        position: relative;
        border-right: 1px solid #edd886;
    }
    .logo img {
        width: 4em;
        margin: 0;
    }
    header.page-header {
        grid-template-columns: 5em 1fr auto;
        grid-template-areas:
      "logo site-name site-name"
      "logo description description"
      "logo main-nav search";
    }
    header.page-header h1 {
        font-size: max(min(1vh, 1rem), 3vh, 3rem);
    }
    header.page-header p {
        font-size: max(min(1vh, 1rem), 3vh, 1.75rem);
    }
    .main-menu,
    .lang-menu {
        display: flex;
        gap: 0.25em;
    }
    .lang-menu {
        flex-direction: row;
    }
    footer {
        display: flex;
        flex-direction: row;
        /* grid-template-columns: 1fr auto;
        grid-template-areas: "location copy"; */
    }
}
/* END media queries */
