:root {
    --rl-body-color: #a86a24;
    --rl-font-color: #edd886;
    --rl-font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    --rl-font-size: normal 1em;
    --rl-bg-color: rgb(165, 42, 42);
}

html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: url("../Images/Logos/rl-logo-inverted.svg");
    background-color: rgb(53, 41, 37);
    background-size: 3px;
}

*,
::before,
::after {
    box-sizing: inherit;
}

/* GLOBAL layout settings */
body {
    background: var(--rl-body-color);
    margin: 0 auto;
    font-size: var(--rl-font-size);
    font-family: var(--rl-font-family), sans-serif;
    color: var(--rl-font-color);
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "aside"
        "footer";
}

/* grid areas */
header {
    grid-area: header;
}
main {
    grid-area: main;
    display: block;
}
aside {
    grid-area: aside;
}
footer {
    grid-area: footer;
}

/* START basic layout settings */
img,
picture,
video {
    max-width: 100%;
}
ul {
    padding-left: 0;
    margin: 0;
}
li {
    list-style: none;
}
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    background-color: inherit;
    color: inherit;
}

aside,
header.page-header,
main,
footer {
    position: relative;
    margin: 0;
    padding: 0 1em 0 1em;
}

main::before,
main::after {
    position: absolute;
    content: "";
    background: linear-gradient(
        to top,
        #feb040 25%,
        #282523 25%,
        #282523 50%,
        #34a2da 50%,
        #34a2da 75%,
        #0e76bc 75%
    );
    height: 1em;
    left: 0;
    right: 0;
}
main::after {
    background: linear-gradient(
        to bottom,
        #feb040 25%,
        #282523 25%,
        #282523 50%,
        #34a2da 50%,
        #34a2da 75%,
        #0e76bc 75%
    );
}

header.page-header,
footer {
    background-color: var(--rl-bg-color);
}
/* header#header grid areas */
.logo {
    grid-area: logo;
}
.site-name {
    grid-area: site-name;
}
.site-description {
    grid-area: description;
}
.main-nav {
    grid-area: main-nav;
}
.search {
    grid-area: search;
}
header.page-header {
    display: grid;
    grid-template-areas:
    "logo"
    "site-name"
    "description"
    "main-nav"
    "search";
}
.logo img {
    width: 2.5em;
    margin: 0;
}
header.page-header h1,
header.page-header p {
    margin: 0;
    padding: 0;
    font-size: max(min(1vh, 1rem), 3vh, 1.5rem);
    text-shadow: 3px 2px 2px rgb(88, 139, 41);
}
header.page-header p {
    font-size: max(min(1vh, 1rem), 2vh, 1.25rem);
}
