@charset "UTF-8";
@import "links.css";

:root,
[data-rl-theme="light"] {
    color-scheme: light;
    --rl-coffee: #6f4e37;
    --rl-coffee-rgb: rgb(111, 78, 55);
    --rl-coffee-black: #4b3621;
    --rl-coffee-black-rgb: rgb(75, 54, 33);
    --rl-coffee-creme: #a67b5b;
    --rl-coffee-creme-rgb: rgb(166, 123, 91);
    --rl-brown-dark: #7b3f00;
    --rl-brown-dark-rgb: rgb(123, 63, 0);
    --rl-brown: #964b00;
    --rl-brown-rgb: rgb(150, 75, 0);
    --rl-brown-light: #a86a24;
    --rl-brown-light-rgb: rgb(168, 106, 36);
    --rl-brown-lighter: #df8549;
    --rl-brown-lighter-rgb: rgb(223, 133, 73);
    --rl-brown-camel: #c19a6b;
    --rl-brown-camel-rgb: rgb(193, 154, 107);
    --rl-blue-dark: #191970;
    --rl-blue-dark-rgb: rgb(25, 25, 112);
    --rl-blue: #0048ba;
    --rl-blue-rgb: rgb(0, 72, 186);
    --rl-blue-light: #0e76bc;
    --rl-blue-light-rgb: rgb(14, 118, 188);
    --rl-blue-lighter: #34a2da;
    --rl-blue-lighter-rgb: rgb(52, 162, 218);
    --rl-red-dark: #a52a2a;
    --rl-red-dark-rgb: rgb(165, 42, 42);
    --rl-red: #ff0000;
    --rl-red-rgb: rgb(255, 0, 0);
    --rl-white: #ffffff;
    --rl-white-rgb: rgb(255, 255, 255);
    --rl-black: #000000;
    --rl-black-rgb: rgb(0, 0, 0);
    --rl-chocolate: #d2691e;
    --rl-chocolate-rgb: rgb(210, 105, 30);
    --rl-orange: #ff8000;
    --rl-orange-rgb: rgb(255, 128, 0);
    --rl-yellow: #feb040;
    --rl-yellow-rgb: rgb(254, 176, 64);
    --rl-yellow-fale: #edd886;
    --rl-yellow-fale-rgb: rgb(237, 216, 134);
    --rl-green-dark: #006400;
    --rl-green-dark-rgb: rgb(0, 100, 0);
    --rl-green: #588b29;
    --rl-green-rgb: rgb(88, 139, 41);
    --rl-green-light: #00ff7f;
    --rl-green-light-rgb: rgb(0, 255, 127);
    --rl-green-lighter: #90ee90;
    --rl-green-lighter-rgb: rgb(144, 238, 144);
    --rl-light: #faebd7;
    --rl-light-rgb: rgb(250, 235, 215);
    --rl-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "Noto Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --rl-font-serif:  "Liberation Serif", "Nimbus Roman No 9 L",  "FreeSerif", "Hoefler Text", Times, "Times New Roman", serif;
    --rl-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --rl-body-font-family: "Nimbus Sans L", "Liberation Sans", "Trebuchet MS", var( --rl-font-sans-serif);
    --rl-body-font-size: 1rem;
    --rl-body-font-weight: 400;
    --rl-body-line-height: 1.5;
    --rl-body-background: var(--rl-light);
    --rl-body-color: var(--rl-blue-dark);
    --rl-link-text-decoration: none;
    --rl-link-color: var(--rl-blue);
    --rl-link-visited: var(--rl-coffee);
    --rl-link-focus: var(--rl-yellow);
    --rl-link-hover: var(--rl-yellow-fale);
    --rl-link-hover-color: var(--rl-coffee-black);
    --rl-link-active: var(--rl-yellow);
    --rl-bg-color: #a52a2a;
}

html {
    height: 100%;
    padding: 0;
    margin: 0;
    background: rgb(53, 41, 37) url("../Images/Logos/rl-logo-inverted.svg");
    background-size: 3px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* GLOBAL layout settings */
body {
    background-color: var(--rl-body-background);
    margin: 0 auto;
    font-family: var(--rl-body-font-family), sans-serif;
    font-weight: var(--rl-body-font-weight);
    line-height: var(--rl-body-line-height);
    font-size: var(--rl-body-font-size);
    color: var(--rl-body-color);
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        "header"
        "aside"
        "main"
        "footer";
}

/* START basic layout settings */
img,
picture,
video {
    max-width: 100%;
    height: auto;
}
ul {
    padding-left: 0;
    margin: 0;
}
li {
    list-style: none;
}

aside,
header.page-header,
main,
footer {
    position: relative;
    margin: 0;
    padding: 0 1em 0 1em;
}

/* body grid areas */
header.page-header {
    grid-area: header;
}
main {
    grid-area: main;
    display: block;
}
aside {
    grid-area: aside;
    background-color: var(--rl-brown-lighter);
    border-right: 1px solid var(--rl-brown-light);
}
footer {
    grid-area: footer;
    font-size: 0.9rem;
    background-color: var(--rl-brown-camel);
    display: grid;
    margin-top: 0.5em;
}
.logo img {
    width: 1.5em;
    margin: 0;
}
header.page-header h1 {
    margin: 0;
    padding: 0;
    font-size: max(min(1vh, 1rem), 3vh, 1.5rem);
    text-shadow: 2px 1px 1px var(--rl-brown-light);
}

.navbar {
    display: flex;
    gap: 0 0.25em;
    justify-content: space-between;
}
.navbar ul {
    flex: auto initial;
}

.hamburger {
    max-width: 10%;
    cursor: pointer;
}

.main-menu {
    font-size: 1.2em;
    display: none;
    animation: dropdown 1000ms ease;
}

.navbar.active .main-menu {
    display: block;
}
.main-menu-item {
    cursor: pointer;
}
.dropdown-menu {
    display: none;
}
.main-menu-item.active .dropdown-menu {
    display: block;
    animation: dropdown 600ms ease;
}

.dropdown-item {
    position: relative;
    padding-left: 1em;
}

.dropdown-item::before {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: orange;
}

.dropdown-arrow {
    background-size: contain;
    width: 1.5rem;
    height: 1.5rem;
    float: right;
    padding-left: 10px;
    transition: transform 0.3s ease;
}

.main-menu-item.active .dropdown-arrow {
    transform: rotateX(180deg);
    transform-origin: center;
}

.dropdown-sub {
    display: none;
}
.main-menu a,
.lang-menu a,
.footer-menu a {
    padding: 0.25em;
    display: block;
}
.lang-menu {
    flex-direction: column;
}
.search {
    padding-left: 0.25em;
}


.breadcrumb {
    padding: 0 0.5rem;
}

.breadcrumb ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: end;
}

.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 0.25rem;
    content: "»";
}

/* footer#footer.page-footer grid areas */
.openstreetmap {
    grid-area: location;
    padding: 0.5em;
}
.openstreetmap iframe {
    border: 1px solid black;
    width: 100%; /* takes precedence over the width set with the HTML width attribute */
}
.footer-nav {
    padding: 0.5em 0;
    grid-area: footer-nav;
    display: flex;
    gap: 0.25em;
    justify-content: space-around;
}
.footer-nav ul {
    flex: auto initial;
}
.copyright {
    grid-area: copyright;
    text-align: center;
}
.copyright img {
    vertical-align: middle;
}
footer {
    display: grid;
    grid-template-areas:
    "footer-nav"
    "location"
    "copyright";
}

/* media queries */
@media screen and (min-width: 48rem) {
    body {
        max-width: 100em;
        display: grid;
        grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";
    }
    .logo img {
        max-width: 4em;
        min-width: 2em;
        margin: 0;
    }

    header.page-header h1 {
        font-size: max(min(1vh, 1rem), 3vh, 3rem);
        text-shadow: 3px 2px 2px var(--rl-brown-light);
    }

    .hamburger {
        display: none;
    }

    .main-menu {
        font-size: 1.2em;
        display: flex;
        animation: dropdown 1000ms ease;
    }

    .main-menu-item  {
        display: inline-block;
        border-radius: 5px;
        position: relative;
    }
    .main-menu-item:hover {
        color: #d00058;
    }
    .main-menu-item::after {
        content: '';
    }
    .main-menu-item:last-of-type {
        margin-left: auto;
    }

    .dropdown-menu {
        position: relative;
        animation: dropdown 600ms ease;
        display: none;
    }

    .main-menu-item:hover > .dropdown-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5em;
        margin: 0;
        width: max-content;
    }

    .main-menu-item:hover .dropdown-arrow {
        transform: rotateX(180deg);
        transform-origin: center;
    }

    .dropdown-item {
        margin: 0;
        padding: 1em;
        width: 100%;
        border-radius: 5px;
        position: relative;
    }

    .dropdown-item:hover {
        background-color: rgb(226, 223, 223);
    }

    .dropdown-item::before {
        content: '';
        position: absolute;
        left: 1%;
        top: 25%;
        height: 50%;
        width: 3px;
        background-color: orange;
    }

    .main-menu-heading,
    .dropdown-sub {
        margin: 0;
        display: block;
    }

    .dropdown-heading {
        font-size: 1rem;
        margin-bottom: 0.5em;
        font-weight: 500;
    }

    .dropdown-sub {
        font-size: 0.75rem;
    }

    .lang-menu,
    .footer-menu {
        display: flex;
        gap: 0.25em;
    }
    .lang-menu,
    .footer-menu {
        flex-direction: row;
    }
    footer {
        display: grid;
    }
}
/* END media queries */


@keyframes dropdown {
    from {
        max-height: 0;
        overflow: hidden;
    }
    to {
        max-height: 100vh;
    }
}
