@charset "UTF-8";
@import "links.css";

:root,
[data-rl-theme="light"] {
    color-scheme: light;
    --rl-coffee: #6F4E37;
    --rl-coffee-black: #4B3621;
    --rl-coffee-creme: #A67B5B;
    --rl-brown-dark: #7B3F00;
    --rl-brown: #964B00;
    --rl-brown-light: #a86a24;
    --rl-brown-lighter: #df8549;
    --rl-brown-camel: #C19A6B;
    --rl-blue-dark: #191970;
    --rl-blue: #0048BA;
    --rl-blue-light: #0e76bc;
    --rl-blue-lighter: #34a2da;
    --rl-red-dark: #a52a2a;
    --rl-red: #ff0000;
    --rl-white: #ffffff;
    --rl-black: #000000;
    --rl-chocolate: #d2691e;
    --rl-orange: #ff8000;
    --rl-yellow: #feb040;
    --rl-yellow-fale: #edd886;
    --rl-green-dark: #006400;
    --rl-green: #588b29;
    --rl-green-light: #00ff7f;
    --rl-green-lighter: #90ee90;
    --rl-light: #faebd7;
    --rl-body-font-family: "Trebuchet MS", Helvetica, Arial;
    --rl-body-font-size: 1rem;
    --rl-body-font-weight: 400;
    --rl-body-line-height: 1.5;
    --rl-link-focus: none;
    --rl-link-text-decoration: none;
    --rl-body-background: var(--rl-light);
    --rl-body-color: var(--rl-blue-dark);
    --rl-link-color: #0048BA;
    --rl-link-active-color: #edd886;
    --rl-link-hover-color: #ff0000;
    --rl-link-visited-color: #0e76bc;
    --rl-bg-color: #a52a2a;
}

html {
    padding: 0;
    margin: 0;
    background: rgb(53, 41, 37) url("../Images/Logos/rl-logo-inverted.svg");
    background-size: 3px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* GLOBAL layout settings */
body {
    background-color: var(--rl-body-background);
    margin: 0 auto;
    font-family: var(--rl-body-font-family), sans-serif;
    font-weight: var(--rl-body-font-weight);
    line-height: var(--rl-body-line-height);
    font-size: var(--rl-body-font-size);
    color: var(--rl-body-color);
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "aside"
        "footer";
}

/* grid areas */
header {
    grid-area: header;
}
main {
    grid-area: main;
    display: block;
}
aside {
    grid-area: aside;
}
footer {
    grid-area: footer;
}

/* START basic layout settings */
img,
picture,
video {
    max-width: 100%;
}
ul {
    padding-left: 0;
    margin: 0;
}
li {
    list-style: none;
}
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    background-color: inherit;
    color: inherit;
}

aside,
header.page-header,
main,
footer {
    position: relative;
    margin: 0;
    padding: 0 1em 0 1em;
}

footer {
    font-size: 0.75rem;
}

/* header#header grid areas */
.logo {
    grid-area: logo;
}
.site-name {
    grid-area: site-name;
}
.site-description {
    grid-area: description;
}
.main-nav {
    grid-area: main-nav;
}
.search {
    grid-area: search;
}
header.page-header {
    display: grid;
    grid-template-areas:
    "logo"
    "site-name"
    "description"
    "main-nav"
    "search";
}
.logo img {
    width: 2.5em;
    margin: 0;
}
header.page-header h1,
header.page-header p {
    margin: 0;
    padding: 0;
    font-size: max(min(1vh, 1rem), 3vh, 1.5rem);
    text-shadow: 3px 2px 2px rgb(88, 139, 41);
}
header.page-header p {
    font-size: max(min(1vh, 1rem), 2vh, 1.25rem);
}
.main-nav {
    display: flex;
    gap: 0 0.25em;
    justify-content: space-between;
}
.main-nav ul {
    flex: auto initial;
}
.main-menu {
    font-size: 1.2em;
}
.main-menu a,
.lang-menu a {
    text-decoration: none;
    padding: 0.25em;
    display: block;
}
.lang-menu {
    flex-direction: column;
}
.search {
    padding-left: 0.25em;
}

footer {
    display: flex;
    flex-direction: column;
    flex: auto initial;
    /* grid-template-areas:
      "location"
      "copy"; */
    /* align-items: center; */
}

/* media queries */
@media screen and (min-width: 60rem) {
    body {
        max-width: 100em;
        grid-template-columns: 12em auto 1fr;
        grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";
    }
    aside {
        background-color: #a86a24;
        position: relative;
        border-right: 1px solid #edd886;
    }
    .logo img {
        width: 4em;
        margin: 0;
    }
    header.page-header {
        grid-template-columns: 5em 1fr auto;
        grid-template-areas:
      "logo site-name site-name"
      "logo description description"
      "logo main-nav search";
    }
    header.page-header h1 {
        font-size: max(min(1vh, 1rem), 3vh, 3rem);
    }
    header.page-header p {
        font-size: max(min(1vh, 1rem), 3vh, 1.75rem);
    }
    .main-menu,
    .lang-menu {
        display: flex;
        gap: 0.25em;
    }
    .lang-menu {
        flex-direction: row;
    }
    footer {
        display: flex;
        flex-direction: row;
        /* grid-template-columns: 1fr auto;
        grid-template-areas: "location copy"; */
    }
}
/* END media queries */
