/* Stylesheet für Selfhtml Design 08 
  responsives Layout mit Grid Layout ab Z. 249   */

/* ===== GLOBAL DEFINITION ===== */

/* alternatives Boxmodell */
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: url("../images/logos/rl-logo-inverted.svg");
  background-color: rgb(53, 41, 37);
  background-size: 3px;
}

*,
::before,
::after {
  box-sizing: inherit;
}
/* GLOBAL layout settings */
body {
  background: #a86a24;
  margin: 0 auto;
  font-size: max(min(1vh, 1rem), 3vh, 2rem);
  font:
    normal 1em "Trebuchet MS",
    Helvetica,
    Arial,
    sans-serif; /* Mindestschriftgröße wird dem Browser, bzw. dem Nutzer überlassen! */
  color: #edd886;
  display: grid;
  grid-template-areas:
    "banner"
    "main"
    "sidebar"
    "footer";
}

/* grid areas */
header {
  grid-area: banner;
}
main {
  grid-area: main;
  display: block;
}
aside {
  grid-area: sidebar;
}
footer {
  grid-area: footer;
}

/* START link and hypertext settings */
/* END link and hypertext settings */

/* START basic layout settings */
img,
picture,
video {
  max-width: 100%;
}
ul {
  padding-left: 0;
  margin: 0;
}
li {
  list-style: none;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
  color: inherit;
}
form#signin {
  background-color: #34a2da;
}
#signin h2 {
  font-size: 1.5em;
}

aside,
header,
main {
  position: relative;
  margin: 0;
  padding: 0 1em 0 1em;
}

main::before,
main::after {
  position: absolute;
  content: "";
  background: linear-gradient(
    to top,
    #feb040 25%,
    #282523 25%,
    #282523 50%,
    #34a2da 50%,
    #34a2da 75%,
    #0e76bc 75%
  );
  height: 1em;
  left: 0;
  right: 0;
}
main::after {
  background: linear-gradient(
    to bottom,
    #feb040 25%,
    #282523 25%,
    #282523 50%,
    #34a2da 50%,
    #34a2da 75%,
    #0e76bc 75%
  );
}
header,
footer {
  padding: 0.2em;
  /* background-color: #502a2b; */
  background-color: rgb(165, 42, 42);
}
/* header grid areas */
.logo {
  grid-area: logo;
}
.site-name {
  grid-area: site-name;
}
.site-description {
  grid-area: description;
}
.main-nav {
  grid-area: main-nav;
}
.search {
  grid-area: search;
}
header {
  display: grid;
  grid-template-areas:
    "logo"
    "site-name"
    "description"
    "main-nav"
    "search";
}
.logo img {
  width: 2.5em;
  margin: 0;
}
header h1,
header p {
  margin: 0;
  padding: 0;
  font-size: max(min(1vh, 1rem), 3vh, 1.5rem);
  text-shadow: 3px 2px 2px rgb(88, 139, 41);
}
header p {
  font-size: max(min(1vh, 1rem), 2vh, 1.25rem);
}
.main-nav {
  display: flex;
  gap: 0 0.25em;
  justify-content: space-between;
}
.main-nav ul {
  flex: auto initial;
}

.main-menu,
.lang-menu {
  display: flex;
  gap: 0.25em;
}
.main-menu {
  font-size: 1.2em;
}
.main-menu a,
.lang-menu a {
  text-decoration: none;
  padding: 0.25em;
  display: block;
}
.lang-menu {
  flex-direction: column;
}
.search {
  padding-left: 0.25em;
}

/* footer grid areas */
/* .location {
  grid-area: location;
}
.copy {
  grid-area: copy;
} */
footer {
  display: flex;
  flex-direction: column;
  flex: auto initial;
  /* grid-template-areas:
    "location"
    "copy"; */
  /* align-items: center; */
}
.location {
  /* align-items: center; */
  /* align-self: center;
  justify-self: center; */
}
/* END basic layout settings */

/* media queries */
@media screen and (min-width: 60rem) {
  body {
    max-width: 100em;
    grid-template-columns: 12em auto 1fr;
    grid-template-areas:
      "banner banner banner"
      "sidebar main main"
      "footer footer footer";
  }
  aside {
    background-color: #a86a24;
    position: relative;
    border-right: 1px solid #edd886;
  }
  main::after {
    position: relative;
  }
  aside::before {
    position: absolute;
    content: "";
    background: linear-gradient(
      to top,
      #feb040 25%,
      #282523 25%,
      #282523 50%,
      #34a2da 50%,
      #34a2da 75%,
      #0e76bc 75%
    );
    height: 1em;
    left: 0;
    right: 0;
  }
  .logo img {
    width: 4em;
    margin: 0;
  }
  header {
    grid-template-columns: 5em 1fr auto;
    grid-template-areas:
      "logo site-name site-name"
      "logo description description"
      "logo main-nav search";
  }
  header h1 {
    font-size: max(min(1vh, 1rem), 3vh, 3rem);
  }
  header p {
    font-size: max(min(1vh, 1rem), 3vh, 1.75rem);
  }
  .lang-menu {
    flex-direction: row;
  }
  footer {
    display: flex;
    flex-direction: row;
    /* grid-template-columns: 1fr auto;
    grid-template-areas: "location copy"; */
  }
}
/* END media queries */
