body {
  max-width: 60em;
  margin: 0.5em auto;
  font-family: sans-serif;
  color: #333333;
  background: darkblue;
  display: grid;
}

header,
nav,
main,
article,
section,
aside,
footer {
  padding: 0 0.25em;
}

header {
  display: flex;
  justify-content: space-evenly;
  background: #f1f3f4;
  border-color: #d5d5d5;
}

nav {
  background: #fffbf0;
  border-color: #e7c157;
}

aside {
  background: #ebf5d7;
  border-color: #8db243;
}

main {
  background: #ffede0;
  border-color: #df6c20;
}

footer {
  background: #e4ebf2;
  border-color: #8a9da8;
}

p::first-letter {
  color: maroon;
  font-size: 2.5em;
  font-weight: bold;
  font-family: "Imperial Script", "Edwardian Script ITC", "Brush Script MT", cursive;
}

nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.95rem;
  display: flex;
  flex-direction: column;
}
nav ul {
  position:relative;
}

nav li {
  margin: 0.15rem;
  padding: 0;
  flex: 1 1 0;
  position: relative;
}

@media (min-width: 45em) {
  /* Breite beträgt mindestens 45em */
  body {
    grid-template-columns: minmax(min-content, max-content) auto minmax(
        min-content,
        max-content
      );
    background: aquamarine;
  }

  header,
  nav,
  footer {
    grid-column: 1 / -1;
  }

  nav > ul {
    font-size: 1.15rem;
    flex-direction: row;
  }
  nav li {
    flex: 1;
	flex-basis: auto;
      flex-shrink: 0;
  }
}

nav a {
  display: block;
  padding: 0.25em;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  border: thin solid var(--background-color);
  border-radius: 0.5em;
  color: var(--link-color);
  --link-color: gold;
  background-color: var(--background-color);
  transition: all .25s ease-in;
  position: relative;
}

nav li[aria-current] a {
  background-color: var(--accent2-color);
  color: var(--accent1-color);
}


nav a:focus,
nav a:hover,
nav li[aria-current] a:focus,
nav li[aria-current] a:hover {
  color: var(--background-color);
  background-color: var(--accent1-color);
}
/*     submenu navigation links      */
nav ul ul {
  visibility: hidden;
  height: 0;
  z-index: 1000;
}

nav ul ul ul{
  position: absolute;
  left: 5.125em;
  top: 0.5em;
}
nav ul ul ul li {
  width: 5em;
}

nav ul li {
  display: block;
}

/*     Show the submenu on hover, but not when nav li button:hover    */
 nav li:hover > ul {
  visibility: visible;
  height: auto;
}
 nav li button:hover ~ ul {
  visibility: hidden;
  height: 0;
}
 nav li button:hover ~ ul.visible,
.visible  {
  visibility: visible;
  height: auto;
}

[aria-expanded] {
position: absolute;
right: 0.5em;
top: 0.25em;
width:2em;
height:2em;
padding: 0;
color: var(--accent1-color);
background: var(--background-color); /* damit er bei nav a:focus noch sichtbar ist */
outline:transparent;
border: thin solid var(--background-color);
border-radius: 0.3em;

}

[aria-expanded] svg {
	pointer-events: none;
  fill: var(--accent1-color);
	border-radius: 0.3em;
	z-index:10;
}

nav li:hover [aria-expanded] svg {
	background: var(--accent1-color);
	fill: var(--background-color);
}

nav li:focus [aria-expanded] svg {
	background: var(--background-color);
  fill: var(--accent1-color);
}

[aria-expanded]:focus svg,
[aria-expanded]:hover svg{
  fill: var(--background-color);
	background: var(--accent1-color);

}

[aria-expanded="true"] svg {
  transform: translate(0,0) rotate(90deg);
}

.visually-hidden,
[visually-hidden="true"] {
	position: absolute !important;
	clip-path: rect(1px, 1px, 1px, 1px) !important;
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden !important;
}


:root {
    --background-color: midnightblue;
    --accent1-color: gold;
    --accent2-color: darkred;
    --text-color: black;
}

kbd {
	background: #f9f9f9 linear-gradient(to bottom, #eee, #f9f9f9, #eee) repeat scroll 0 0;
	border: thin solid #aaa;
	border-radius: 2px;
	box-shadow: 1px 2px 2px #ddd;
	font-family: inherit;
	font-size: 0.9em;
	padding: 0 0.5em;
}
