<f:asset.css identifier="fontawesome" href="EXT:rlt3sitepackage/Resources/Public/Css/Fontawesome/css/all.min.css" />
<f:asset.css identifier="mobilefirst" href="EXT:rlt3sitepackage/Resources/Public/Css/mobilefirst-v06.css"
             priority="1" />
<f:asset.script identifier="rlnavbar" src="EXT:rlt3sitepackage/Resources/Public/JavaScript/rlnavbar-v06.js"
                type="module" />

<f:spaceless>
    <f:render partial="Header/Header" arguments="{_all}"/>
    <f:render partial="Navigation/MainMenu" arguments="{_all}"/>

    <f:render partial="Navigation/Breadcrumb" arguments="{_all}"/>

    <f:render section="MainContent"/>

    <f:render partial="Footer/Footer" arguments="{_all}"/>
</f:spaceless>


<f:comment>
    <!--
<f:asset.script identifier="rlsample" src="EXT:rlt3sitepackage/Resources/Public/JavaScript/rlsample.js" type="module" />

<f:asset.script identifier="rlmenu" src="EXT:rlt3sitepackage/Resources/Public/JavaScript/rlnavbar.js" defer="defer" />
-->
</f:comment>

