<f:asset.css identifier="global" href="EXT:rlt3sitepackage/Resources/Public/Css/styles.css" priority="1" />

<f:comment>
    <!--<f:asset.css identifier="mdnmenu" href="EXT:rlt3sitepackage/Resources/Public/Css/Mdn/styles.css" />--></f:comment>

<f:if condition="{backendLayout} == 'default'">
    <f:then>
        <f:asset.css identifier="default" href="EXT:rlt3sitepackage/Resources/Public/Css/default.css" />
    </f:then>
    <f:else if="{backendLayout} == 'PageSidebarLeft'">
        <f:asset.css identifier="pagesidebarleft" href="EXT:rlt3sitepackage/Resources/Public/Css/pagesidebarleft.css" />
    </f:else>
    <f:else if="{backendLayout} == 'PageSidebarRight'">
        <f:asset.css identifier="pagesidebarright" href="EXT:rlt3sitepackage/Resources/Public/Css/pagesidebarright.css" />
    </f:else>
</f:if>

<f:spaceless>
    <div id="top"></div>
    <f:render partial="Header/Header" arguments="{_all}"/>

    <f:render section="PageContent"/>

    <f:render partial="Footer/Footer" arguments="{_all}"/>
</f:spaceless>

