<div class="copyright">
    <p>
        <f:link.page pageUid="{site.rootPageId}">
            <f:image
                src="EXT:rlt3sitepackage/Resources/Public/Images/Logos/Default/Logo.svg"
                height="24"
                alt="Logo"
                class="middle"
            />
        </f:link.page>&nbsp;&copy; by <f:link.external uri="https://resterland.ch/webatelier" target="_blank">
        {site.configuration.websiteTitle}
    </f:link.external>&nbsp;<f:format.date format="Y">now</f:format.date>
    </p>
</div>
