<div class="copyright">
    <p>
        <f:link.page pageUid="{site.rootPageId}">
            <f:comment><!--<f:if condition="{settings.page.themes.theme} == 'light'">
                <f:then>
                    <f:image
                        src="{settings.page.logo.file.light}"
                        height="24"
                    />
                </f:then>
                <f:else if="{settings.page.themes.theme} == 'dark')">
                    <f:image
                        src="{settings.page.logo.file.dark}"
                        height="24"
                    />
                </f:else>
                <f:else>
                    <f:image
                        src="{settings.page.logo.file.light}"
                        height="24"
                    />
                </f:else>
            </f:if>--></f:comment>
        </f:link.page>&nbsp;&copy; by <f:link.external uri="https://resterland.ch/webatelier" target="_blank">
            {site.configuration.websiteTitle}
        </f:link.external>&nbsp;<f:format.date format="Y">now</f:format.date>
    </p>
</div>
