<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
<div class="copyright">
    <p>
        <f:link.page pageUid="{site.rootPageId}">
            <f:image
                src="EXT:rlt3sitepackage/Resources/Public/Images/Logos/Default/Logo.svg"
                height="24"
                alt="Logo"
                class="middle"
            />
        </f:link.page>&nbsp;&copy; by <f:link.external uri="https://resterland.com/" target="_blank">
        {siteName}
    </f:link.external>&nbsp;<f:format.date format="Y">now</f:format.date>
    </p>
</div>

</html>
