<f:if condition="{breadcrumb}">
    <f:then>
        <nav class="breadcrumb-nav" aria-label="breadcrumb">
            <ul class="breadcrumb-menu">
                <f:for each="{breadcrumb}" as="item">
                    <li class="nav-item">
                        <a class="nav-link {f:if(condition: item.active, then:'active')}"
                           href="{item.link}"
                           target="{item.target}"
                           title="{item.title}"
                        >
                            {item.title}
                        </a>
                    </li>
                </f:for>
            </ul>
        </nav>
    </f:then>

</f:if>
