<ul class="navbar-list">
    <f:for each="{headerMenu}" as="menuItem" iteration="headerMenuIteration">
        <f:if condition="{menuItem.children}">
            <f:then>
                <li class="nav-item dropdown{f:if(condition:'{menuItem.active}',then:' active')}">
                    <a href="{menuItem.link}"
                       class="nav-link dropdown-toggle" id="navbarDropdown{headerMenuIteration.index}">
                        {menuItem.title}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <f:for each="{menuItem.children}" as="menuChild" iteration="headerChildIteration">
                            <f:link.page pageUid="{menuChild.data.uid}"
                                         class="dropdown-item {f:if(condition:'{menuChild.active}',then:' active')}">
                                {menuChild.title}
                            </f:link.page>
                        </f:for>
                    </div>
                </li>
            </f:then>
            <f:else>
                <li class="nav-item {f:if(condition:'{menuItem.active}',then:'active')}">
                    <f:link.page pageUid="{menuItem.data.uid}" class="nav-link">
                        {menuItem.title}
                    </f:link.page>
                </li>
            </f:else>
        </f:if>
    </f:for>
</ul>
