<nav class="navbar-main">
    <div class="nav-mobile">
        <a id="nav-toggle" href="#!"><span></span></a>
    </div>
    <ul class="nav-list">
        <f:for each="{mainMenu}" as="menuItem">
            <li>
                <f:if condition="{menuItem.hasSubpages}">
                    <f:then>
                        <f:link.page pageUid="{menuItem.data.uid}">
                            {menuItem.title}
                        </f:link.page>
                        <!-- Item has children -->
                        <ul class="nav-dropdown">
                            <f:for each="{menuItem.children}" as="menuItemLevel2">
                                <li>
                                    <f:if condition="{menuItemLevel2.hasSubpages}">
                                        <f:then>
                                            <f:link.page pageUid="{menuItemLevel2.data.uid}">
                                                {menuItemLevel2.title}
                                            </f:link.page>
                                            <!-- Item has children -->
                                            <ul class="nav-dropdown">
                                                <f:for each="{menuItemLevel2.children}" as="menuItemLevel3">
                                                    <li>
                                                        <f:link.page pageUid="{menuItemLevel3.data.uid}">
                                                            {menuItemLevel3.title}
                                                        </f:link.page>
                                                    </li>
                                                </f:for>
                                            </ul>
                                        </f:then>
                                        <f:else>
                                            <f:link.page pageUid="{menuItemLevel2.data.uid}">
                                                {menuItemLevel2.title}
                                            </f:link.page>
                                        </f:else>
                                    </f:if>
                                </li>
                            </f:for>
                        </ul>
                    </f:then>
                    <f:else>
                        <!-- Item has no children -->
                        <f:link.page pageUid="{menuItem.data.uid}">
                            {menuItem.title}
                        </f:link.page>
                    </f:else>
                </f:if>
            </li>
        </f:for>
    </ul>
</nav>
