
<f:if condition="{mainMenu}">
    <ul class="navbar-list">
        <f:for each="{mainMenu}" as="menuItem">
            <li class="navbar-item">
                <f:if condition="{menuItem.hasSubpages}">
                    <f:then>
                        <!-- Item has children -->
                        <span class="navbar-heading">
                            {menuItem.title}
                        </span>
                        <f:image src="EXT:rlt3sitepackage/Resources/Public/Images/mdn/down-arrow.svg"
                            alt="down-arrow"
                            class="dropdown-arrow"/>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item">
                                <f:link.page
                                    pageUid="{menuItem.data.uid}"
                                    class="dropdown-item {f:if(condition: menuItem.active, then: 'active')}">
                                    {menuItem.title}
                                </f:link.page>
                            </li>
                            <f:for each="{menuItem.children}" as="menuItemLevel2">
                                <li class="dropdown-item">
                                    <f:link.page
                                        pageUid="{menuItemLevel2.data.uid}"
                                        class="dropdown-item {f:if(condition: menuItemLevel2.active, then: 'active')}">
                                        {menuItemLevel2.title}
                                    </f:link.page>
                                </li>
                            </f:for>
                        </ul>
                    </f:then>
                    <f:else>
                        <!-- Item has no children -->
                        <f:link.page
                            pageUid="{menuItem.data.uid}"
                            class="dropdown-item {f:if(condition: menuItem.active, then: 'active')}"
                            target="{menuItem.target}"
                            title="{menuItem.title}">
                            {menuItem.title}
                        </f:link.page>
                    </f:else>
                </f:if>
            </li>
        </f:for>
    </ul>
</f:if>

<f:section name="submenu">
    <ul>
        <f:for each="{subMenu}" as="subItem">
            <li>
                <a class="nav-link {f:if(condition: subItem.active, then:'active')}"
                   href="{subItem.link}"
                   target="{subItem.target}"
                   title="{subItem.title}"
                >
                    {subItem.title}
                </a>
                <f:if condition="{subItem.children}">
                    <f:render section="submenu" arguments="{subMenu: subItem.children}"/>
                </f:if>
            </li>
        </f:for>
    </ul>
</f:section>
