<f:if condition="{mainMenu}">
    <ul class="main-menu">
        <f:for each="{mainMenu}" as="menuItem">
            <li class="main-menu-item">
                <a class="nav-link {f:if(condition: menuItem.active, then:'active')}"
                   href="{menuItem.link}"
                   target="{menuItem.target}"
                   title="{menuItem.title}"
                >
                    {menuItem.title}
                </a>
                <f:if condition="{menuItem.children}">
                    <f:render section="submenu" arguments="{submenu: Item.children}"/>
                </f:if>
            </li>
        </f:for>
    </ul>
</f:if>

<f:section name="submenu">
    <ul>
        <f:for each="{submenu}" as="subItem">
            <li>
                <a class="nav-link {f:if(condition: subItem.active, then:'active')}"
                   href="{subItem.link}"
                   target="{subItem.target}"
                   title="{subItem.title}"
                >
                    {subItem.title}
                </a>
                <f:if condition="{subItem.children}">
                    <f:render section="submenu" arguments="{submenu: subItem.children}"/>
                </f:if>
            </li>
        </f:for>
    </ul>
</f:section>
