<h2>Data in variable headerMenu</h2>
<f:debug inline="true">{mainMenu}</f:debug>

<nav class="navbar-main">
    <ul class="topnav">
        <f:for each="{mainMenu}" as="menuItem">
            <li tabindex="0" class="nav-item {f:if(condition: menuItem.hasSubpages, then: 'dropdown')}">
                <f:if condition="{menuItem.hasSubpages}">
                    <f:then>
                        <!-- Item has children -->
                        <a
                            class="nav-link dropdown-toggle"
                            href="{menuItem.link}"
                            target="{menuItem.target}"
                            title="{menuItem.title}"
                        >
                            <f:if condition="{menuItem.files}">
                                <f:image image="{menuItem.files.0}" class="" width="20"/>
                            </f:if>
                            {menuItem.title}
                        </a>
                        <button class="dropbtn" type="button" name="dropdown">
                            <span class="hidden">Untermenü aufklappen</span>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 25 25">
                                <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
                            </svg>
                        </button>
                        <ul class="dropdown-menu">
                            <f:for each="{menuItem.children}" as="menuItemLevel2">
                                <li tabindex="0" class="dropdown-content {f:if(condition: menuItemLevel2.hasSubpages, then: 'dropdown')}">
                                    <f:if condition="{menuItemLevel2.hasSubpages}">
                                        <f:then>
                                            <!-- Sub-Item has children -->
                                            <button class="dropbtn" type="button" name="dropdown">
                                                <span class="hidden">Untermenü aufklappen</span>
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 25 25">
                                                    <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
                                                </svg>
                                            </button>
                                            <a
                                                href="{menuItemLevel2.link}"
                                                target="{menuItemLevel2.target}"
                                                title="{menuItemLevel2.title}"
                                            >
                                                {menuItemLevel2.title}
                                            </a>
                                            <ul class="dropdown">
                                                <f:for each="{menuItemLevel2.children}" as="menuItemLevel3">
                                                    <li tabindex="0" class="dropdown-content">
                                                        <a
                                                            href="{menuItemLevel3.link}"
                                                            target="{menuItemLevel3.target}"
                                                            title="{menuItemLevel3.title}"
                                                        >
                                                            {menuItemLevel3.title}
                                                        </a>
                                                    </li>
                                                </f:for>
                                            </ul>
                                        </f:then>
                                        <f:else>
                                            <!-- Sub-Item has no children -->
                                            <a
                                                href="{menuItemLevel2.link}"
                                                target="{menuItemLevel2.target}"
                                                title="{menuItemLevel2.title}"
                                            >
                                                {menuItemLevel2.title}
                                            </a>
                                        </f:else>
                                    </f:if>
                                </li>
                            </f:for>
                        </ul>
                    </f:then>
                    <f:else>
                        <!-- Item has no children -->
                        <f:link.page pageUid="{menuItem.data.uid}" class="nav-link {f:if(condition: menuItem.current, then:'active')}">
                            <f:if condition="{menuItem.files}">
                                <f:image image="{menuItem.files.0}" width="20"/>
                            </f:if>
                            {menuItem.title}
                        </f:link.page>
                    </f:else>
                </f:if>
            </li>
        </f:for>
    </ul>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</nav>
