<f:comment><!--
    <div class="hamburger">
        <f:image
            src="EXT:rlt3sitepackage/Resources/Public/Images/mdn/hamburger.svg"
            alt="hamburger"/>
    </div>
--></f:comment>

<ul class="navbar-list">
    <li class="navbar-item">
        <span class="navbar-heading">References</span>
        <f:image
            src="EXT:rlt3sitepackage/Resources/Public/Images/mdn/down-arrow.svg"
            alt="down-arrow"
            class="dropdown-arrow"/>
        <!-- References Dropdown -->
        <ul class="dropdown-menu">
            <li class="dropdown-item">
                <a href="#html">
                    <p class="dropdown-heading">HTML</p>
                    <p class="dropdown-sub">
                        Learn to structure web content with HTML
                    </p>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#js">
                    <p class="dropdown-heading">JavaScript</p>
                    <p class="dropdown-sub">Learn to run scripts in the browser</p>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#css">
                    <p class="dropdown-heading">CSS</p>
                    <p class="dropdown-sub">Learn to style content using CSS</p>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#http">
                    <p class="dropdown-heading">HTTP</p>
                    <p class="dropdown-sub">Learn to style content using CSS</p>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#webapi">
                    <p class="dropdown-heading">Web APIs</p>
                    <p class="dropdown-sub">
                        Learn to structure web content with HTML
                    </p>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#webext">
                    <p class="dropdown-heading">Web Extensions</p>
                    <p class="dropdown-sub">Learn to style content using CSS</p>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#webtech">
                    <p class="dropdown-heading">Web Technologies</p>
                    <p class="dropdown-sub">Learn to run scripts in the browser</p>
                </a>
            </li>
        </ul>
    </li>

    <li class="navbar-item">
        <span class="navbar-heading">Guides</span>
        <f:image
            src="EXT:rlt3sitepackage/Resources/Public/Images/mdn/down-arrow.svg"
            alt="down-arrow"
            class="dropdown-arrow"/>
        <!-- Guides Dropdown -->
        <ul class="dropdown-menu">
            <li class="dropdown-item">
                <a href="#learningarea">
                    <p class="dropdown-heading">MDN Learning Area</p>
                    <p class="dropdown-sub">Learn web development</p>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#html">
                    <p class="dropdown-heading">HTML Guides</p>
                    <p class="dropdown-sub">Explore in-depth HTML guides</p>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#css">
                    <p class="dropdown-heading">CSS Collection</p>
                    <p class="dropdown-sub">Explore CSS resources</p>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#js">
                    <p class="dropdown-heading">JavaScript Guides</p>
                    <p class="dropdown-sub">Explore advanced JavaScript topics</p>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#accessibility">
                    <p class="dropdown-heading">Accessibility</p>
                    <p class="dropdown-sub">Learn to make the web accessible</p>
                </a>
            </li>
        </ul>
    </li>

    <li class="navbar-item">
        <span class="navbar-heading">Plus</span>
        <f:image
            src="EXT:rlt3sitepackage/Resources/Public/Images/mdn/down-arrow.svg"
            alt="down-arrow"
            class="dropdown-arrow"/>
        <!-- Plus Dropdown -->
        <ul class="dropdown-menu">
            <li class="dropdown-item">
                <a href="#overview">
                    <p class="dropdown-heading">Overview</p>
                    <p class="dropdown-sub">A customized MDN experience</p>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#aihelp">
                    <p class="dropdown-heading">AI Help</p>
                    <p class="dropdown-sub">Get real-time assistance and support</p>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#collection">
                    <p class="dropdown-heading">Collection</p>
                    <p class="dropdown-sub">Your saved articles from MDN</p>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#updates">
                    <p class="dropdown-heading">Updates</p>
                    <p class="dropdown-sub">Browser compatibility updates</p>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#docs">
                    <p class="dropdown-heading">Documentation</p>
                    <p class="dropdown-sub">Learn how to use MDN Plus</p>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#faq">
                    <p class="dropdown-heading">FAQ</p>
                    <p class="dropdown-sub">Frequently asked questions</p>
                </a>
            </li>
        </ul>
    </li>

    <!-- Other Navbar Items -->
    <li class="navbar-item"><a href="#blog">Blog</a></li>
    <li class="navbar-item"><a href="#play">Play</a></li>
    <li class="navbar-item"><a href="#ai">AI Help</a></li>
    <li class="navbar-item"><a href="#account">johndoe@gmail.com</a></li>
</ul>
