
<f:spaceless>
    <h2>Some Variables</h2>
    <p>rootPage: {rootPage}</p>
    <p>siteTitle: {siteTitle}</p>
    <p>pageTitle: {pageTitle}</p>
    <p>parentPageTitle: {parentPageTitle}</p>
    <p>backendLayout: {backendLayout}</p>
    <p>logoAlt: {logoAlt}</p>
    <p>The title of the page with id {page.id} is: {pageTitle}.</p>
    <p>The title of the page with id {page.id} is: {page.pageRecord.title}. It has the
        following abstract:</p>
    <p>{page.pageRecord.abstract}</p>
</f:spaceless>
