<footer class="page-footer">
    <f:if condition="{settings.page.footer.navigation.enable}">
        <nav class="footer-nav">
            <f:render partial="Navigation/FooterMenu.html" optional="true"/>

            <f:if condition="{settings.page.footer.languagenavigation.enable}">
                <f:render partial="Navigation/LanguageMenu" optional="true"/>
            </f:if>
        </nav>
    </f:if>

    <f:if condition="{settings.page.footer.openstreetmap.enable}">
        <f:render partial="Structure/OpenStreetMap" optional="true"/>
    </f:if>

    <f:if condition="{settings.page.footer.copyright.enable}">
        <f:render partial="Footer/Copyright" optional="true"/>
    </f:if>

</footer>
