/*
@import url("border.css");
@import url("background.css");
@import url("text.css");
@import url("link.css");
@import url("scrollbar.css");
@import url("area.css");
*/

/* Basic */
:root {
    --color-white: hsl(0 0% 100%);
    --color-white-alpha-25: hsl(0 0% 100% / 25%);
    --color-white-alpha-75: hsl(0 0% 100% / 75%);

    --color-black: hsl(0 0% 0%);
    --color-black-alpha-25: hsl(0 0% 0% / 25%);
    --color-black-alpha-75: hsl(0 0% 0% / 75%);

    --color-primary-75: #DD997C;
    --color-primary-100: #B45023;

    --color-neutral-0: #FFFFFF;
    --color-neutral-10: #FBF2EE;
    --color-neutral-20: #ECDFD9;
    --color-neutral-30: #D0BFB7;
    --color-neutral-40: #BCA59A;
    --color-neutral-50: #AB978E;
    --color-neutral-60: #887167;
    --color-neutral-70: #6C5246;
    --color-neutral-80: #49362D;
    --color-neutral-90: #220B01;

    --color-info: #0E55FF;
    --color-info-soft: #CFDEFF;
    --color-success: #378200;
    --color-success-soft: #F7FFF1;
    --color-warning: #846C00;
    --color-warning-soft: #FFF8D8;
    --color-error: #D70000;
    --color-error-soft: #FFE9E9;
}

/* Gray */
:root {
    --color-gray: hsl(0 0% 50%);
    --color-gray-90: hsl(0 0% 90%);
    --color-gray-80: hsl(0 0% 80%);
    --color-gray-60: hsl(0 0% 60%);
    --color-gray-40: hsl(0 0% 40%);
    --color-gray-20: hsl(0 0% 20%);
    --color-gray-10: hsl(0 0% 10%);
    --color-gray-05: hsl(0 0% 5%);
}

/* Colors */
:root {
    --aquaHue: 180;
    --color-aqua: hsl(180 100% 50%);
    --color-aqua-90: hsl(180 100% 90%);
    --color-aqua-75: hsl(180 100% 75%);
    --color-aqua-40: hsl(180 100% 40%);
    --color-aqua-25: hsl(180 100% 25%);
    --color-aqua-15: hsl(180 100% 15%);

    --chartreuseHue: 90;
    --color-chartreuse: hsl(90 100% 50%);
    --color-chartreuse-90: hsl(90 100% 90%);
    --color-chartreuse-75: hsl(90 100% 75%);
    --color-chartreuse-40: hsl(90 100% 40%);
    --color-chartreuse-25: hsl(90 100% 25%);
    --color-chartreuse-15: hsl(90 100% 15%);

    --coffeHue: 25;
    --color-coffee: hsl(25 34% 50%);
    --color-coffee-90: hsl(25 34% 90%);
    --color-coffee-75: hsl(25 34% 75%);
    --color-coffee-40: hsl(25 34% 40%);
    --color-coffee-25: hsl(25 34% 25%);
    --color-coffee-15: hsl(25 34% 15%);

    --blueHue: 217;
    --color-blue: hsl(217 100% 50%);
    --color-blue-90: hsl(217 100% 90%);
    --color-blue-75: hsl(217 100% 75%);
    --color-blue-40: hsl(217 100% 40%);
    --color-blue-25: hsl(217 100% 25%);
    --color-blue-15: hsl(217 100% 15%);

    --goldHue: 51;
    --color-gold: hsl(51 100% 50%);
    --color-gold-90: hsl(51 100% 90%);
    --color-gold-75: hsl(51 100% 75%);
    --color-gold-40: hsl(51 100% 40%);
    --color-gold-25: hsl(51 100% 25%);
    --color-gold-15: hsl(51 100% 15%);

    --limeHue: 120;
    --color-lime: hsl(120 100% 50%);
    --color-lime-90: hsl(120 100% 90%);
    --color-lime-75: hsl(120 100% 75%);
    --color-lime-40: hsl(120 100% 40%);
    --color-lime-25: hsl(120 100% 25%);
    --color-lime-15: hsl(120 100% 10%);

    --orangeHue: 39;
    --color-orange: hsl(39 100% 50%);
    --color-orange-90: hsl(39 100% 90%);
    --color-orange-75: hsl(39 100% 75%);
    --color-orange-40: hsl(39 100% 40%);
    --color-orange-25: hsl(39 100% 25%);
    --color-orange-15: hsl(39 100% 15%);

    --purpleHue: 300;
    --color-purple: hsl(300 100% 25%);
    --color-purple-90: hsl(300 100% 90%);
    --color-purple-75: hsl(300 100% 75%);
    --color-purple-40: hsl(300 100% 40%);
    --color-purple-25: hsl(300 100% 25%);
    --color-purple-15: hsl(300 100% 15%);

    --redHue: 0;
    --color-red: hsl(0 100% 50%);
    --color-red-90: hsl(0 100% 90%);
    --color-red-75: hsl(0 100% 75%);
    --color-red-40: hsl(0 100% 40%);
    --color-red-25: hsl(0 100% 25%);
    --color-red-15: hsl(0 100% 15%);

    --yellowHue: 60;
    --color-yellow: hsl(60 100% 47%);
    --color-yellow-90: hsl(60 100% 90%);
    --color-yellow-75: hsl(60 100% 80%);
    --color-yellow-25: hsl(60 100% 25%);
    --color-yellow-15: hsl(60 100% 15%);

    --color-lain: hsl(0, 45%, 47%);
    --color-lain-90: hsl(0, 45%, 90%);


    --color-brown: hsl(32, 65%, 40%);
    --color-brown-80: #edd886;
    --color-brown-10: #4e3329;

    /* dynamic color settings */
    --h: var(--blueHue); /* h = Hue */
    --s: 100%; /* s = Saturation */
    --l: 90%;  /* l = Lightness */
    --dark: hsl(var(--h) var(--s) calc(var(--l) - 65%));
    --light: hsl(var(--h) var(--s) var(--l));

}
.theme-default {
    --defaultHue: var(--blueHue);
}
.theme-aqua {
    --defaultHue: var(--aquaHue);
}

.theme-orange {
    --defaultHue: var(--orangeHue);
}

.theme-lime {
    --defaultHue: var(--limeHue);
}
