/*
### OKLCH - explained
    Syntax:
    oklch(L C H / a)

    - L is perceived lightness (wahrgenommene Helligkeit)
        It ranges from 0 (black) to 1 (white).
     - C is chroma, the saturation of color (Farbsättigung)
         It goes from 0 (gray) to infinity.
         In practice there is actually a limit.
         For both P3 and sRGB the value will be always below 0.37
      - H is the hue angle (Farbtonwinkel)
          It goes from 0 to 360, through
          red 20
          yellow 90
          green 140
          blue 220
          purple 320
          and then back to red
      - a is opacity (Deckkraft)
          (0-1 or 0-100%)
*/
:root {
    --accent:#222;
    --white:oklch(1 0 0);
    --gray-000:oklch(calc(1 * var(--base-lightness)) 0 var(--base-hue));
    --gray-100:oklch(calc(.98 * var(--base-lightness)) calc(.2 * var(--base-chroma)) var(--base-hue));
    --gray-200:oklch(calc(.94 * var(--base-lightness)) calc(.4 * var(--base-chroma)) var(--base-hue));
    --gray-300:oklch(calc(.85 * var(--base-lightness)) calc(.6 * var(--base-chroma)) var(--base-hue));
    --gray-400:oklch(calc(.8 * var(--base-lightness)) calc(.8 * var(--base-chroma)) var(--base-hue));
    --gray-500:oklch(calc(.75 * var(--base-lightness)) calc(1 * var(--base-chroma)) var(--base-hue));
    --gray-600:oklch(calc(.7 * var(--base-lightness)) calc(1.2 * var(--base-chroma)) var(--base-hue));
    --gray-700:oklch(calc(.65 * var(--base-lightness)) calc(1.4 * var(--base-chroma)) var(--base-hue));
    --gray-800:oklch(calc(.6 * var(--base-lightness)) calc(1.6 * var(--base-chroma)) var(--base-hue));
    --gray-900:oklch(calc(.55 * var(--base-lightness)) calc(1.8 * var(--base-chroma)) var(--base-hue));
    --gray-1000:oklch(calc(.5 * var(--base-lightness)) calc(2 * var(--base-chroma)) var(--base-hue));
    --gray-1100:oklch(calc(.45 * var(--base-lightness)) calc(2.2 * var(--base-chroma)) var(--base-hue));
    --gray-1200:oklch(calc(.4 * var(--base-lightness)) calc(2.4 * var(--base-chroma)) var(--base-hue));
    --gray-1300:oklch(calc(.35 * var(--base-lightness)) calc(2.6 * var(--base-chroma)) var(--base-hue));
    --gray-1400:oklch(calc(.3 * var(--base-lightness)) calc(2.8 * var(--base-chroma)) var(--base-hue));

    /* base colors */
    --blue: blue;
    --blue-000:oklch(15% 0 220);
    --blue-100:oklch(20% .5 220);
    --blue-200:oklch(25% .5 220);
    --blue-300:oklch(30% .5 220);
    --blue-400:oklch(35% .5 220);
    --blue-500:oklch(40% .5 220);
    --blue-600:oklch(45% .5 220);
    --blue-700:oklch(50% .5 220);
    --blue-800:oklch(55% .5 220);
    --blue-900:oklch(60% .5 220);
    --red: red;
    --red-000:oklch(15% 0 0);
    --red-100:oklch(20% .5 0);
    --red-200:oklch(25% .5 0);
    --red-300:oklch(30% .5 0);
    --red-400:oklch(35% .5 0);
    --red-500:oklch(40% .5 0);
    --red-600:oklch(45% .5 0);
    --red-700:oklch(50% .5 0);
    --red-800:oklch(55% .5 0);
    --red-900:oklch(60% .5 0);
    --green: green;
    --green-000:oklch(15% 0 120);
    --green-100:oklch(20% .5 120);
    --green-200:oklch(25% .5 120);
    --green-300:oklch(30% .5 120);
    --green-400:oklch(35% .5 120);
    --green-500:oklch(40% .5 120);
    --green-600:oklch(45% .5 120);
    --green-700:oklch(50% .5 120);
    --green-800:oklch(55% .5 120);
    --green-900:oklch(60% .5 120);
    --orange: orange;
    --orange-000:oklch(15% 0 73);
    --orange-100:oklch(20% .5 73);
    --orange-200:oklch(25% .5 73);
    --orange-300:oklch(30% .5 73);
    --orange-400:oklch(35% .5 73);
    --orange-500:oklch(40% .5 73);
    --orange-600:oklch(45% .5 73);
    --orange-700:oklch(50% .5 73);
    --orange-800:oklch(55% .5 73);
    --orange-900:oklch(60% .5 73);
    --purple: purple;
    --purple-000:oklch(15% 0 320);
    --purple-100:oklch(20% .5 320);
    --purple-200:oklch(25% .5 320);
    --purple-320:oklch(32% .5 320);
    --purple-400:oklch(35% .5 320);
    --purple-500:oklch(40% .5 320);
    --purple-600:oklch(45% .5 320);
    --purple-700:oklch(50% .5 320);
    --purple-800:oklch(55% .5 320);
    --purple-900:oklch(60% .5 320);
    --yellow: yellow;
    --gold: gold;

    --light: oklch(
        from var(--base-color)
        calc(var(--base-lightness) + 0.4) var(--base-chroma) var(--base-hue)
    );
    --dark: oklch(
        from var(--base-color)
        calc(var(--base-lightness) * 0.1) var(--base-chroma) var(--base-hue)
    );

    --light-L: oklch(
        from var(--base-color) calc(l + 0.25) var(--base-chroma) var(--base-hue)
    );
    --dark-L: oklch(
        from var(--base-color) calc(l - 0.25) var(--base-chroma) var(--base-hue)
    );

    --light-C: oklch(
        from var(--base-color) calc(l + 0.15) var(--base-chroma) var(--base-hue)
    );
    --dark-C: oklch(
        from var(--base-color) calc(l - 0.15) var(--base-chroma) var(--base-hue)
    );

    --light-3: oklch(
        from var(--base-color) calc(l + 0.2) var(--base-chroma) var(--base-hue)
    );
    --dark-3: oklch(
        from var(--base-color) calc(l - 0.2) var(--base-chroma) var(--base-hue)
    );

    --background: light-dark(var(--light), var(--dark));
    --text: light-dark(var(--dark), var(--light));

    --background-L: light-dark(var(--light-L), var(--dark-L));
    --text-L: light-dark(var(--dark-L), var(--light-L));

    --background-C: light-dark(var(--light-C), var(--dark-C));
    --text-C: light-dark(var(--dark-C), var(--light-C));

    --background-3: light-dark(var(--light-3), var(--dark-3));
    --text-3: light-dark(var(--dark-3), var(--light-3));
}
