/*
### OKLCH - explained
    Syntax:
    oklch(L C H / a)

    - L is perceived lightness (wahrgenommene Helligkeit)
        It ranges from 0 (black) to 1 (white).
     - C is chroma, the saturation of color (Farbsättigung)
         It goes from 0 (gray) to infinity.
         In practice there is actually a limit.
         For both P3 and sRGB the value will be always below 0.37
      - H is the hue angle (Farbtonwinkel)
          It goes from 0 to 360, through
          red 20
          yellow 90
          green 140
          blue 220
          purple 320
          and then back to red
      - a is opacity (Deckkraft)
          (0-1 or 0-100%)
*/
:root {
    /* hue */
    --grayHue: 0;
    --redHue: 20;
    --yellowHue: 90;
    --greenHue: 140;
    --blueHue: 240;
    --purpleHue: 320;

    --base-color: var(--gray);

    /* L = Lightness */
    --L: 0.5;
    --L-light: 0.9;
    --L-dark: 0.1;
    /* C = Chroma - always below 0.37 */
    --C: 0.25;
    --C-chroma1: 0.2;
    --C-chroma2: 0.1;
    --C-chroma3: 0.01;
    --H: var(--grayHue); /* h = Hue */

    /* black - white - gray */
    --black: oklch(0 0 0);
    --white: oklch(1 0 0);
    /* also white, any hue with 100% L is white */
    --white2: oklch(1 0 100);
    --gray: gray;

    --default: oklch(var(--L) var(--C) var(--H));

    /* base colors */
    --red: oklch(0.70 0.26 29);
    --yellow: yellow;
    --orange: oklch(0.80 0.26 73);
    --green: green;
    --blue: blue;
    --purple: purple;

    /* Replace lightness and saturation to a certain lightness */
    --accent: oklch(from var(--blue) calc(l + 0.1) c h);

    --linear-gradient-left: linear-gradient(
        to left,
        oklch(0.7 0.15 50 / 0.9),
        oklch(0.5 0.15 60)
    );
    --linear-gradient-right: linear-gradient(
        to right,
        oklch(0.7 0.15 50 / 0.9),
        oklch(0.5 0.15 60)
    );
    --linear-gradient-top: linear-gradient(
        to top,
        oklch(0.7 0.15 50 / 0.9),
        oklch(0.5 0.15 60)
    );
    --linear-gradient-top-gray: linear-gradient(
        to top,
        oklch(0.7 0.15 50 / 0.9),
        oklch(0.5 0.15 60)
    );
    --linear-gradient-bottom: linear-gradient(
        to bottom,
        oklch(0.7 0.15 50 / 0.9),
        oklch(0.5 0.15 60)
    );

    --linear-gradient-left-oklch: linear-gradient(
        to left,
        oklch(0.70 0.26 29),
        oklch(0.80 0.26 73),
        oklch(0.70 0.26 120),
        oklch(0.70 0.26 180),
        oklch(0.70 0.26 240),
        oklch(0.70 0.26 300)
    );
    --linear-gradient-right-oklch: linear-gradient(
        to right,
        oklch(0.70 0.26 29),
        oklch(0.80 0.26 73),
        oklch(0.70 0.26 120),
        oklch(0.70 0.26 180),
        oklch(0.70 0.26 240),
        oklch(0.70 0.26 300)
    );
    --linear-gradient-top-oklch: linear-gradient(
        to top,
        oklch(0.70 0.26 29),
        oklch(0.80 0.26 73),
        oklch(0.70 0.26 120),
        oklch(0.70 0.26 180),
        oklch(0.70 0.26 240),
        oklch(0.70 0.26 300)
    );
    --linear-gradient-bottom-oklch: linear-gradient(
        to bottom,
        oklch(0.70 0.26 29),
        oklch(0.80 0.26 73),
        oklch(0.70 0.26 120),
        oklch(0.70 0.26 180),
        oklch(0.70 0.26 240),
        oklch(0.70 0.26 300)
    );

    --light: oklch(
        from var(--base-color) calc(l + 0.18) c h
    );
    --dark: oklch(
        from var(--base-color) calc(l - 0.18) c h
    );

    --light-L: oklch(
        from var(--base-color) calc(l + 0.25)c h
    );
    --dark-L: oklch(
        from var(--base-color) calc(l - 0.25) c h
    );

    --light-C: oklch(
        from var(--base-color) calc(l + 0.15) c h
    );
    --dark-C: oklch(
        from var(--base-color) calc(l - 0.15) c h
    );

    --light-3: oklch(
        from var(--base-color) calc(l + 0.2) c h
    );
    --dark-3: oklch(
        from var(--base-color) calc(l - 0.2) c h
    );

    --background: light-dark(var(--light), var(--dark));
    --text: light-dark(var(--dark), var(--light));

    --background-L: light-dark(var(--light-L), var(--dark-L));
    --text-L: light-dark(var(--dark-L), var(--light-L));

    --background-C: light-dark(var(--light-C), var(--dark-C));
    --text-C: light-dark(var(--dark-C), var(--light-C));

    --background-3: light-dark(var(--light-3), var(--dark-3));
    --text-3: light-dark(var(--dark-3), var(--light-3));
}
