

:root {
    /* background color */
    --rl-bg-color-small: var(--color-background-aqua);
    --rl-bg-color-medium: var(--color-background-coffee);
    --rl-bg-color-large: var(--color-background-gold);
    --rl-bg-head: var(--color-background-page);
    --rl-bg-dropdown: var(--rl-bg-head);
    --rl-bg-main: var(--color-background-lime);
    --rl-bg-aside: var(--color-background-lime);
    --rl-bg-foot: var(--color-background-lime);
    --rl-bg-shadow: var(--rl-color-gold);

    /* link color and decoration */
    --rl-link-decoration: none;
    --rl-link-focus: none;
    --rl-link: var(--color-link-normal);
    --rl-link-active: var(--color-link-active);
    --rl-link-hover: var(--color-link-hover);
    --rl-link-visited: var(--color-link-visited);
    /* Dropdown nav variables */
    --rl-menu-bg-color: var(--rl-color-blue-25);
    --rl-menu-link-color: var(--rl-color-gold);
    --rl-menu-accent1-color: var(--rl-color-yellow-80);
    --rl-menu-accent2-color: var(--rl-color-red-25);
    --rl-menu-font-color: var(--rl-color-blue-25);
}
