:root {
  --color-area-background: var(--color-background-blue);
  --color-area-highlight-border: var(--color-blue);
  --color-area-link: var(--color-link-blue);
}

:root[data-current-area="learn"] {
  --color-area-background: var(--color-background-orange);
  --color-area-highlight-border: var(--color-orange);
  --color-area-link: light-dark(var(--color-orange-25), var(--color-orange-75));
}
