/* Link */

:root {
    --color-link-aqua: light-dark(
        var(--color-aqua-25),
        var(--color-aqua-75)
    );
    --color-link-blue: light-dark(
        var(--color-blue-25),
        var(--color-blue-75)
    );
    --color-link-coffee: light-dark(
        var(--color-coffee-15),
        var(--color-coffee-90)
    );
    --color-link-gold: light-dark(
        var(--color-gold-15),
        var(--color-gold-90)
    );
    --color-link-green: light-dark(
        var(--color-green-20),
        var(--color-green-90)
    );
    --color-link-lime: light-dark(
        var(--color-lime-25),
        var(--color-lime-90)
    );
    --color-link-purple: light-dark(
        var(--color-purple-25),
        var(--color-purple-90)
    );

    --color-visited: light-dark(
        var(--color-chartreuse-25),
        var(--color-chartreuse-75)
    );

    --color-hover: #4e3329;
    --bg-hover: #edd886;

    --color-active: #cdfeaa;
    --bg-active: #a86a24;

}
