/* Link */

:root {
    --color-link-aqua: light-dark(
        var(--color-aqua-25),
        var(--color-aqua-75)
    );
    --color-link-blue: light-dark(
        var(--color-blue-25),
        var(--color-blue-75)
    );
    --color-link-coffee: light-dark(
        var(--color-coffee-25),
        var(--color-coffee-75)
    );
    --color-link-gold: light-dark(
        var(--color-gold-25),
        var(--color-gold-75)
    );
    --color-link-green: light-dark(
        var(--color-green-20),
        var(--color-green-90)
    );
    --color-link-lime: light-dark(
        var(--color-lime-25),
        var(--color-lime-75)
    );
    --color-link-purple: light-dark(
        var(--color-purple-25),
        var(--color-purple-75)
    );

    --color-visited: light-dark(
        var(--color-chartreuse-25),
        var(--color-chartreuse-75)
    );

    --color-hover: light-dark(
        var(--color-gold-25),
        var(--color-gold-75)
    );
    --bg-hover: light-dark(
        var(--color-gold-75),
        var(--color-gold-25)
    );

    --color-active: light-dark(
        var(--color-coffee-25),
        var(--color-coffee-75)
    );
    --bg-active: light-dark(
        var(--color-coffee-75),
        var(--color-coffee-25)
    );

}
