:root {
  --color-area-background: var(--color-background-blue);
  --color-area-highlight-border: var(--rl-color-blue);
  --color-area-link: var(--color-link-normal);
}

:root[data-current-area="learn"] {
  --color-area-background: var(--color-background-orange);
  --color-area-highlight-border: var(--rl-color-orange);
  --color-area-link: light-dark(var(--rl-color-orange-25), var(--rl-color-orange-75));
}
