/* Background */

/* Basic */

:root {
    --color-background-page: light-dark(
        var(--rl-color-white),
        var(--rl-color-gray-05));
    --color-background-primary: light-dark(
        var(--rl-color-gray-90),
        var(--rl-color-gray-10)
    );
    --color-background-secondary: light-dark(
        var(--rl-color-gray-80),
        var(--rl-color-gray-20)
    );
}

/* Tinted */

:root {
    --color-background-aqua: light-dark(
        var(--rl-color-aqua-90),
        var(--rl-color-aqua-15)
    );

    --color-background-chartreuse: light-dark(
        var(--rl-color-chartreuse-90),
        var(--rl-color-chartreuse-15)
    );

    --color-background-coffee: light-dark(
        var(--rl-color-coffee-90),
        var(--rl-color-coffee-15)
    );

    --color-background-blue: light-dark(
        var(--rl-color-blue-90),
        var(--rl-color-blue-15)
    );

    --color-background-fuchsia: light-dark(
        var(--rl-color-fuchsia-90),
        var(--rl-color-fuchsia-15)
    );

    --color-background-gold: light-dark(
        var(--rl-color-gold-90),
        var(--rl-color-gold-15)
    );

    --color-background-green: light-dark(
        var(--rl-color-green-80),
        var(--rl-color-green-20)
    );

    --color-background-lime: light-dark(
        var(--rl-color-lime-90),
        var(--rl-color-lime-15)
    );

    --color-background-orange: light-dark(
        var(--rl-color-orange-90),
        var(--rl-color-orange-25)
    );

    --color-background-purple: light-dark(
        var(--rl-color-purple-90),
        var(--rl-color-purple-25)
    );

    --color-background-red: light-dark(
        var(--rl-color-red-90),
        var(--rl-color-red-25)
    );

    --color-background-yellow: light-dark(
        var(--rl-color-yellow-90),
        var(--rl-color-yellow-25)
    );
}
