/* Link */

:root {
    --color-link-blue: light-dark(
        var(--rl-color-blue-25),
        var(--rl-color-blue-75)
    );
    --color-link-purple: light-dark(
        var(--rl-color-purple-25),
        var(--rl-color-purple-90)
    );
    --color-link-green: light-dark(
        var(--rl-color-green-20),
        var(--rl-color-green-90)
    );
    --color-link-lime: light-dark(
        var(--rl-color-lime-25),
        var(--rl-color-lime-90)
    );

    --rl-color-visited: #a5c300;

    --rl-color-hover: #4e3329;
    --rl-bg-hover: #edd886;

    --rl-color-active: #cdfeaa;
    --rl-bg-active: #a86a24;

}
