/* Text */

/* Basic */

:root {
    --color-text-page: light-dark(
        var(--color-gray-05),
        var(--color-white)
    );
    --color-text-primary: light-dark(
        var(--color-black),
        var(--color-white)
    );
    --color-text-secondary: light-dark(
        var(--color-gray-40),
        var(--color-gray-60)
    );
}

/* Tinted */

:root {
    --color-text-aqua: light-dark(
        var(--color-aqua-25),
        var(--color-aqua-90)
    );

    --color-text-chartreuse: light-dark(
        var(--color-chartreuse-15),
        var(--color-chartreuse-90)
    );

    --color-text-coffee: light-dark(
        var(--color-coffee-15),
        var(--color-coffee-90)
    );

    --color-text-blue: light-dark(
        var(--color-blue-25),
        var(--color-blue-90)
    );

    --color-text-fuchsia: light-dark(
        var(--color-fuchsia-15),
        var(--color-fuchsia-90)
    );

    --color-text-gold: light-dark(
        var(--color-gold-15),
        var(--color-gold-75)
    );

    --color-text-green: light-dark(
        var(--color-green-25),
        var(--color-green-75)
    );

    --color-text-lime: light-dark(
        var(--color-lime-15),
        var(--color-lime-90)
    );

    --color-text-orange: light-dark(
        var(--color-orange-25),
        var(--color-orange-90)
    );

    --color-text-purple: light-dark(
        var(--color-red-25),
        var(--color-red-90)
    );

    --color-text-red: light-dark(
        var(--color-red-25),
        var(--color-red-90)
    );

    --color-text-yellow: light-dark(
        var(--color-yellow-25),
        var(--color-yellow-90)
    );

}
